.preview {
    background-color: var(--main-background-color);
    border-radius: 0.5em;
    height: 40em;
    padding: 0.5em;
    border: 0.2em solid;
    border-color: var(--secondary-background-color);
}

.floating {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: flex-end;
}
