.filterPopover {
    padding: 0.5rem;
}

.filterTags {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.tagsHeading {
    margin: 0.5rem;
}

.popoverHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
