.Wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 40rem;
}

.RightPriceTile {
    width: 33%;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.NewWeatherTile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.BikeTile {
    overflow: scroll;
}
