@import '../../../../assets/styles/import.scss';
@import '../../../../variables.scss';

.bike-panel {
    .eds-checkbox__container:not(:first-child) {
        margin-top: 0.8rem;
    }

    &__eds-paragraph, .eds-paragraph {
        color: var(--tavla-font-color);
    }
}
