.Tile {
    height: 100%;
}

.Title {
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}

.Flex {
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
}

.Code {
    width: 50%;
    height: 80%;
}
