@use '../../BusStopDashboard.scss';

.busStopTile {
    width: 100%;
    max-height: 80vh;
    padding: 2rem;
    margin-bottom: 2rem;
    overflow: scroll;
    border-radius: 1rem;
    background-color: var(--tavla-box-background-color);
    color: var(--tavla-font-color);
}

.tableHead {
    border-bottom: none;

    &Icon {
        width: 10%;
    }

    &Departure {
        width: 18%;
    }

    &Track {
        width: 18%;
    }

    &Situation {
        width: 30%;
    }
}

@media (max-width: BusStopDashboard.$breakpoint-mobile) {
    .tableHead {
        &Departure {
            width: 22%;
        }

        &Track {
            width: 13%;
        }

        &Situation {
            width: 11%;
        }
    }
}
