.GridView {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
}

.TabPanel {
    padding: 0 2rem;
}

.AddBoard {
    border: 2px solid var(--tavla-border-color);
    border-radius: 0.25rem;
    padding: 1rem;
    &:hover {
        background-color: var(--tavla-selected-color);
        border-color: var(--tavla-input-border-hover-color);
        cursor: pointer;
    }
}

.AddIcon {
    width: 100%;
    height: auto;
    color: var(--primary-text-color);
}
