@import '../../../assets/styles/import.scss';

.bike-panel {
    background-color: $colors-blues-blue10;
    padding: 1rem 2rem;
    width: 400px;
    margin-top: 2rem;

    &__header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        label {
            color: $white;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 2px solid $colors-blues-blue20;

        &:last-child {
            border: 0;
            padding-bottom: 0;
        }

        > label > span {
            margin: 0 0 0 0.5rem;
        }
    }
}

@media (max-width: 1000px) {
    .bike-panel {
        width: unset;
        margin-top: 0;
    }
}
