@import '../../assets/styles/import.scss';

.dashboard-wrapper {
    background-color: $colors-brand-blue;
    color: white;
    padding: 2rem 4rem;
    overflow: hidden;

    &__bottom-menu {
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
