@import '../../assets/styles/import.scss';

.dashboard-wrapper {
    background-color: $colors-brand-blue;
    color: white;
    padding: 2rem 4rem;
    overflow: hidden;
    height: calc(100vh);

    .no-stops {
        display: block;
        margin: auto;
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0 4rem;
        display: none;
    }

    &:hover {
        .dashboard-wrapper__footer {
            display: flex;
        }
    }
}

@media (max-width: 1000px) {
    .enturdash {
        padding: 1rem;
        overflow: auto;
    }
}
