@import '../../assets/styles/import.scss';

.dashboard-wrapper {
    background-color: $colors-brand-blue;
    color: white;
    padding: 2rem 4rem;
    overflow: scroll;
    height: calc(100vh);

    .no-stops {
        display: block;
        margin: auto;
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__logo-wrapper p {
        margin: -0.5rem 0 0 0;
    }

    &__logo {
        height: 54px;
        width: 100%;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
    }

    &:hover {
        .dashboard-wrapper__footer {
            display: flex;
        }
    }
}

@media (max-width: 700px) {
    .dashboard-wrapper {
        &__logo-wrapper p {
            margin: -0.5rem 0 0 0;
        }

        &__clock {
            display: none;
        }

        &__logo {
            height: 27px;
            width: 148px;
        }
    }
}
