.footer {
    padding: 4rem 2rem 2rem;
    margin: 0 auto;
    width: 80rem;
}

@media (max-width: 80rem) {
    .footer {
        width: 100%;
        padding: 4rem 2rem 2rem;
    }
}

.flexDirection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 550px) {
    .flexDirection {
        flex-direction: column;
    }
}
