.content {
    font-size: 0.9rem;
    margin: 1rem 0;
    align-content: center;
}

.footer {
    padding: 4rem 4rem 2rem;
    margin: 0 auto;
    max-width: 80rem;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
