.Heading {
    margin-top: 0;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.Paragraph {
    color: var(--tavla-font-color);
}

.InputGroup {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.TextFieldWrapper {
    width: 100%;
}
