.dragContainer {
    height: 500px;
    flex: 1;
}

.column {
    color: white;
    height: 500px;
    background-color: var(--secondary-background-color);
    border: 1px solid white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.dragging {
    transform: scale(1.02);
    transition: transform ease-in 0.1s;
}
