@use '../assets/styles/Variables.scss';

.themeBackground {
    background-color: var(--tavla-background-color);
    height: 100vh;
}

.pwa-prompt {
    .iOSPWA-overlay {
        display: none;
        background-color: transparent;
        opacity: 0;
    }

    .iOSPWA-container {
        background-color: Variables.$colors-blues-blue80;
        border: 0.0625rem solid Variables.$colors-blues-blue90;
        border-radius: 0.25rem;
        opacity: 1;

        .iOSPWA-title {
            color: Variables.$colors-brand-blue;
            font-family: var(--tavla-font-family);
            font-weight: Variables.$font-weights-heading;
            font-size: Variables.$font-sizes-extra-large;
        }

        .iOSPWA-description {
            display: none;
        }

        .iOSPWA-step1-copy,
        .iOSPWA-step2-copy {
            color: Variables.$colors-brand-blue;
            font-family: var(--tavla-font-family);
            font-weight: Variables.$font-weights-body;
            font-size: Variables.$font-sizes-medium;
        }

        .iOSPWA-step1,
        .iOSPWA-step2,
        .iOSPWA-step1-icon,
        .iOSPWA-step2-icon,
        .iOSPWA-cancel {
            color: Variables.$colors-brand-blue;
            fill: Variables.$colors-brand-blue !important;
            font-family: var(--tavla-font-family);
            font-weight: Variables.$font-weights-body;
            font-size: Variables.$font-sizes-large;
        }
    }
}
