@import '../assets/styles/import.scss';
@import '../variables.scss';

.themeBackground {
    background-color: var(--tavla-background-color);
    height: 100vh;
}

.rotated {
    transform: rotate(-90deg) translate(-100vh);
    transform-origin: top left;
    width: 100vh;
    height: 100vh;
}

.pwa-prompt {
    .iOSPWA-overlay {
        display: none;
        background-color: transparent;
        opacity: 0;
    }

    .iOSPWA-container {
        background-color: $colors-blues-blue80;
        border: 0.0625rem solid $colors-blues-blue90;
        border-radius: 0.25rem;
        opacity: 1;
        .iOSPWA-title {
            color: $colors-brand-blue;
            font-family: var(--tavla-font-family);
            font-weight: $font-weights-heading;
            font-size: $font-sizes-extra-large;
        }

        .iOSPWA-description {
            display: none;
        }

        .iOSPWA-step1-copy,
        .iOSPWA-step2-copy {
            color: $colors-brand-blue;
            font-family: var(--tavla-font-family);
            font-weight: $font-weights-body;
            font-size: $font-sizes-medium;
        }

        .iOSPWA-step1,
        .iOSPWA-step2,
        .iOSPWA-step1-icon,
        .iOSPWA-step2-icon,
        .iOSPWA-cancel {
            color: $colors-brand-blue;
            fill: $colors-brand-blue !important;
            font-family: var(--tavla-font-family);
            font-weight: $font-weights-body;
            font-size: $font-sizes-large;
        }
    }
}
