@import '../../../../assets/styles/import.scss';
@import '../../../../variables.scss';

.scooter-panel {
    &__container {
        width: 100%;
        height: 100%;
    }

    &__buttons {
        display: inline-block;
        padding-right: 0.5rem;
        margin-top: 0.8rem;
    }
    .eds-filter-chip:not(:first-child) {
        margin-top: 0.8rem;
        padding-left: 0.8rem;
    }

    &__eds-paragraph,
    .eds-paragraph {
        color: var(--tavla-font-color);
    }
}
