@import '../../assets/styles/import.scss';

.settings-button {
    background-color: $blue-20;
    border: 0;
    border-radius: 1.5rem;
    color: $blue-80;
    cursor: pointer;
    height: 3rem;
    width: 3rem;

    &:hover {
        background-color: $blue-30;
    }
}
