@import '../../assets/styles/import.scss';

.settings-button {
    background-color: $colors-blues-blue20;
    border: 0;
    border-radius: 1.5rem;
    color: $colors-blues-blue80;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    padding: 1rem;

    &:hover {
        background-color: $colors-blues-blue30;
    }
}
