.popover {
    display: flex;
    flex-direction: column;
    background-color: var(--colors-brand-white);
    color: var(--colors-misc-black);
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.header {
    display: inline-flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

.heading {
    color: var(--colors-misc-black);
    margin-top: 0rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: small;
}

.closeButton:hover {
    background-color: var(--colors-blues-blue70) !important;
}
