@import '../../../assets/styles/import.scss';

.footer {
    height: 80px;
    align-items: center;
    bottom: 3rem;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    background-color: $colors-brand-blue;
    display: flex;
    width: 100%;
    padding: 0 4rem;

    &__actions {
        display: flex;

        > * {
            margin-left: 0.5rem;
        }
    }
}

.radiobox {
    cursor: pointer;
    display: block;
    width: 100%;
    border: $border-widths-default solid $colors-greys-grey20;
    border-radius: $border-radiuses-default;
    padding: 1rem;
    margin: 0.5rem 0;

    &--checked {
        border: 2px solid $colors-brand-blue;
    }

    &__children {
        max-width: 85%;
    }

    &:hover {
        background-color: $colors-greys-grey40;
    }

    h3 {
        font-size: $font-sizes-large;
        margin: 0;
        margin-top: 4px;
    }

    p {
        margin-bottom: 0;
        margin-top: 0.25rem;
    }

    input {
        display: none;
    }

    &__checkmark {
        height: 30px;
        width: 30px;
        border: $border-widths-default solid $colors-greys-grey20;
        border-radius: 15px;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;

        &--checked {
            background-color: $colors-brand-blue;
            border-color: $colors-brand-blue;

            svg {
                color: $colors-validation-mint-contrast;
            }
        }
    }
}

.footer-modal__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

    button {
        display: block;
        flex-grow: 1;

        &:first-child {
            margin-right: 1rem;
        }
    }
}

@media (max-height: 900px) {
    .footer {
        padding: 3rem 1rem;
    }
}

@media (max-width: 480px) {
    .footer {
        position: sticky;
        padding: 0 1rem 0 0;
    }
}
