.tableWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.table {
    display: flex;
    flex-direction: column;
}

.tableBody {
    display: grid;
    grid-template-rows: auto;
}

.search {
    width: 15rem;
}
