@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.admin {
    background-color: var(--tavla-background-color);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 2rem 4rem;
    color: var(--tavla-font-color);

    &__tabs {
        background-color: var(--tavla-background-color);

        &__tab-panels {
            padding: 0;
        }
    }

    &__submit-button:hover {
        background-color: var(--tavla-box-background-color);
    }

    &__selection-panel {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }

    .admin-bottom-menu {
        height: 50px;
        padding-right: 2.2rem;
        padding-top: 2rem;
    }

    @media (max-width: 400px) {
        .eds-grid--spacing-extraLarge {
            grid-gap: 1rem;
        }
    }
}

.eds-tab {
    background-color: var(--tavla-button-background-color);
    color: var(--tavla-font-color);
    border-color: var(--tavla-button-background-color);
    width: 12rem;
}

.eds-tab:hover {
    background-color: var(--tavla-hover-color);
    border-color: var(--tavla-hover-color);
}

.eds-tab::after {
    background-color: var(--tavla-button-background-color);
}

.eds-tab[aria-selected='true'] {
    background-color: var(--tavla-background-color);
    color: var(--tavla-font-color);
    border-color: var(--tavla-button-background-color);
}

.eds-tab-list::after {
    background-color: var(--tavla-button-background-color);
    z-index: -1;
}

.eds-tab[aria-selected='true']::after {
    background-color: var(--tavla-background-color);
}

.eds-tab-panel:focus,
.eds-tab:focus {
    outline: none !important;
}

@media (min-width: 600px) {
    .admin {
        padding-bottom: 8rem;
    }
}

@media (max-width: 1000px) {
    .admin {
        padding: 1.5rem 1.5rem 8rem;

        &__content {
            display: block;
        }

        &__travel-switch {
            display: flex;
            flex-wrap: wrap;
        }

        &__checkbox-and-stopplace {
            color: red;
        }

        &__selection-panel {
            margin: 0 0 2rem 0;
        }

        .stop-place-panel__row__header {
            flex-direction: column;
            align-items: baseline;
        }

        .eds-tab {
            min-width: 10rem;
        }
    }
}
@media (max-width: 480px) {
    .admin {
        .eds-tab-list {
            mask-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 1) 85%,
                rgba(0, 0, 0, 0) 100%
            );
        }
    }
}
