@import '../../assets/styles/import.scss';

.admin {
    background-color: $colors-brand-blue;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 2% 5%;
    color: $white;

    &__content {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        height: calc(100vh);
    }

    &__submit-button {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
    }

    &__selection-panel {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }

    .admin-footer {
        height: 50px;
        padding-right: 2.2rem;
        padding-top: 2rem;
    }
}

@media (max-width: 1000px) {
    .admin {
        &__content {
            display: block;
        }

        &__selection-panel {
            margin: 0 0 2rem 0;
        }
    }
}
