.tableRow {
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    padding: 1rem 0;
    border-bottom: #393d79 solid;
}

.dataCell {
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
}
