@import '../../../../assets/styles/import.scss';
@import '../../../../variables.scss';

.mode-panel {
    background-color: var(--tavla-box-background-color);
    padding: 1rem 2rem;
    margin-top: 2rem;

    &__rows {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.mode-panel-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 2px solid $colors-blues-blue20;

    &:last-child {
        border: 0;
        padding-bottom: 0;
    }

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__icon {
        font-size: 1.5rem;
    }

    &__label {
        margin-left: 1rem;
    }
}
