.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: 0.5em;
    padding-bottom: 2em;
}

.infoHeading {
    margin: 1rem 0 0.75rem;
}
