{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["import", "react", "react-hooks", "prettier"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "settings": {
        "import/extensions": [".js", ".jsx"],
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        },
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "@typescript-eslint/array-type": [
            "error",
            {
                "default": "array-simple"
            }
        ],
        "@typescript-eslint/ban-ts-comment": "warn",
        "@typescript-eslint/member-delimiter-style": "off",
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-shadow": "error",
        "arrow-body-style": "error",
        "eol-last": "warn",
        "import/no-useless-path-segments": "error",
        "import/order": [
            "error",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index"
                ],
                "newlines-between": "always-and-inside-groups",
                "pathGroups": [
                    {
                        "pattern": "react+(|-**)",
                        "group": "external",
                        "position": "before"
                    },
                    {
                        "pattern": "@entur/**",
                        "group": "external",
                        "position": "after"
                    }
                ],
                "warnOnUnassignedImports": true,
                "pathGroupsExcludedImportTypes": []
            }
        ],
        "no-console": "error",
        "no-shadow": "off",
        "no-unused-vars": "warn",
        "object-shorthand": ["error", "always"],
        "prefer-const": "warn",
        "prettier/prettier": "error",
        "react/jsx-curly-brace-presence": "error",
        "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
        "react/jsx-no-undef": [
            "error",
            {
                "allowGlobals": true
            }
        ],
        "react/jsx-uses-react": "warn",
        "react/jsx-uses-vars": "warn",
        "react/no-unused-prop-types": "error",
        "react/no-unused-state": "error",
        "react/no-will-update-set-state": "error",
        "react/prefer-stateless-function": "warn",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "warn",
        "react/sort-prop-types": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error"
    }
}
