rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents/settings/{document} {
    allow read, create: if request.auth != null;
    allow update: if request.auth != null && (!resource.data.keys().hasAny(['owner']) || resource.data.owner == request.auth.uid);
  }
}