rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents/settings/{document} {
    allow read;
    allow create: if request.auth != null;
    allow update: if request.auth != null && (resource.data.owners.size() == 0 || !('owners' in resource.data) || request.auth.uid in resource.data.owners);
  }
}