@use 'src/assets/styles/Variables.scss';

.MapTile {
    height: inherit;
    width: inherit;
    background-color: var(--tavla-box-background-color);
    color: var(--tavla-font-color);
    flex: none;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 0;

    @media (max-width: Variables.$breakpoints-medium) {
        height: 39.375rem;
    }
}
