.copyText {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    width: max-content;
    background-color: var(--colors-brand-white);
    color: var(--main-background-color);
    border-radius: 0.25em;
    padding: 0 0.5em;
}

.copyIcon {
    color: var(--main-background-color);
}

.copyIcon:hover {
    background-color: var(--primary-button-hover-color);
}
