@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 5rem 0 5rem;
    color: var(--tavla-font-color);
}

.primary-button {
    margin: 3rem;
    background-color: var(--tavla-button-background-color);
    color: var(--tavla-font-color);
}

.heading {
    color: var(--tavla-font-color);
}

.main-text {
    max-width: 27rem;
    text-align: center;
}

.style-image {
    padding: 10rem 0 2rem 0;
    width: 25rem;
    max-width: 100%;
    min-width: 15rem;
}
