@import '../../assets/styles/import.scss';

.error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.primary-button {
    width: 15rem;
    margin: 3rem 3rem 3rem 3rem;
}

.main-text {
    width: 35rem;
    text-align: center;
}

.style-image {
    padding: 10rem 0 0 0;
}
