.radio-card {
    width: 25rem;
    padding: 1rem;
    margin: 1.3rem 2.6rem 1.3rem 0;
    border: 2px solid rgb(84, 86, 140);
    border-radius: 4px;
    background-color: #181c56;
}

img {
    width: 100%;
}

.radio-card:hover {
    background-color: #393d79;
    cursor: pointer;
}

.radio-card.selected {
    background-color: #393d79;
}

.radio-container {
    margin-top: 1rem;
}

.header-wrapper {
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.radio-element {
    margin-right: 1rem;
}

.description {
    margin-left: 2.5rem;
}
