.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    padding: 0 0.25em;
    color: var(--main-background-color);
    border-radius: 0.2em;
    font-weight: 700;
}

.icon {
    margin: 0.25em;
    height: 1.75em;
    width: 1.75em;
}
