.timeDeviationContainer {
    font-weight: bold;
    text-align: right;
}
.expectedTimeConatiner {
    font-weight: bold;
    text-align: right;
}
.aimedDepartureTime {
    text-decoration: line-through;
    font-size: 0.66em;
}

.expectedDepartureTime {
    color: var(--table-time-deviation-color);
}
