@import '../../../assets/styles/import.scss';

.admin-header {
    display: flex;
    justify-content: space-between;
    height: 120px;

    &--data-and-clock {
        margin-right: 0.5rem;
    }

    &__back-button {
        text-align: left;
        padding-left: 0;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    &__right {
        display: flex;
    }

    .github-logo > a {
        color: $colors-brand-lavender;
    }
}

@media (max-width: 400px) {
    .admin-header__clock {
        display: none;
    }
}
