.tilesettingsWrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-background-color);
    border-radius: 0.5em;
    padding: 1em;
    width: 50em;
    height: 25em;
}

.heading {
    font-size: 1.5em;
    margin: 0;
}

.content {
    overflow: auto;
}
