.overviewWrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--table-border-color);
    border-radius: 0.5em;
    padding: 1em;
    width: 50em;
    height: 25em;
}

.heading {
    padding-bottom: 0.5em;
    font-size: 1.25em;
}

.content {
    overflow: auto;
}
