.admin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-button {
    background-color: grey;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 50%;
}
