@import '../../assets/styles/import.scss';

.admin-container {
    height: 90%;
    width: 1310px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    justify-content: center;
    height: 120px;

    &--data-and-clock {
        margin-right: 30px;
    }
}

.admin-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 43.2rem;

    p {
        color: $white;
        width: 250px;
        font-family: $base-font-family;
        font-size: 32px;
        font-weight: 500;
        margin-top: 4px;
        padding-right: 3rem;
    }

    &--back-button {
        width: 40px;
        height: 30px;
        padding-bottom: 1rem;
        cursor: pointer;
    }
}

.update-button-container {
    text-align: right;
    padding-right: 1%;
    float: right;
    width: 100%;
    height: 46px;
    margin-top: 3rem;
}

.update-button {
    height: 46px;
    width: 150px;
    background-color: $secondary;
    color: $primary;
    font-family: $base-font-family;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border: 1px;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 8px 0 #50e3c2;
    }
}

.admin-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin-footer {
    height: 50px;
    padding-right: 2.2rem;
    padding-top: 2rem;
}

.filter-panel {
    padding-left: 32px;
    background-color: $primary;
    max-width: 500px;
    margin-right: 50px;

    &--title {
        height: 26px;
        width: 218px;
        color: $white;
        font-family: $base-font-family;
        font-size: 26px;
        font-weight: 500;
        line-height: 28px;
    }
}

.filter-panel::-webkit-scrollbar {
    display: none;
}

.transport-container {
    background-color: $blue-10;
    width: 400px;
    height: 500px;
    overflow-x: auto;
    overflow: hidden;
    padding: 0 33px 15px 33px;
    margin-top: 2rem;
}

.mode-sort-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.mode-sort-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid $blue-20;
    margin-bottom: 8px;
}

.mode-sort-button {
    height: 50px;
    border: 0;
    background-color: inherit;
    margin-left: -10px;
}

.mode-sort-text {
    height: 23px;
    color: $white;
    font-family: $base-font-family;
    font-size: 15px;
    font-weight: 400;
    padding-left: 0.3rem;
}

.mode-sort-slide-switch {
    margin-top: 10px;
}

.mode-sort-slide-switch-stops {
    cursor: pointer;
    padding-top: 10px;
    float: right;
}

.entur-switch__indicator {
    border: 2px solid $blue-50;
    background-color: $blue-50;
}

:checked + .entur-switch__indicator {
    border: 2px solid $mint;
    background-color: $mint;
}

:checked + .entur-switch__indicator::before {
    border: 2px solid $mint;
}

.sort-button-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mode-sort-icon {
    margin-top: 6px;
    margin-right: 10px;
    margin-left: 6px;
}

.distance-container {
    width: 400px;

    p {
        height: 24px;
        width: 450px;
        color: $white;
        font-family: $base-font-family;
        font-size: 15px;
        font-weight: 500;
    }
}

.distance-input {
    background: transparent;
    border: none;
    color: $white;
    font-size: 14px;
    width: auto;
    border-bottom: 2px solid $coral;
    padding: 0.2rem;
    margin: 0 4px 0 4px;
    text-align: center;

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:focus {
        outline: none;
    }
}

.slider {
    width: 398px;
    height: 0.6%;
    -webkit-appearance: none;
    background-color: #e9e9e9;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid $coral;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        background: $coral;
        cursor: pointer;
        margin-top: -0.6em;
    }

    &::-moz-range-thumb {
        border: 1px solid $coral;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        background: $coral;
        cursor: pointer;
    }

    &::-ms-thumb {
        border: 1px solid $coral;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        background: $coral;
        cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        background: $white;
        border: 0.2px solid $white;
    }

    &::-moz-range-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        background: $white;
        border: 0.2px solid $white;
    }

    &::-ms-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        border: 0.2px solid $white;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-ms-fill-lower {
        background: $coral;
    }

    &::-ms-fill-upper {
        background: $white;
    }

    &::-ms-fill-left {
        background: $white;
    }

    &:focus {
        outline: none;

        &::-webkit-slider-runnable-track {
            background: $white;
        }
    }
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
        height: 20px;
        width: 50px;
        color: $blue-60;
        font-family: $base-font-family;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
}

.places-container {
    width: 50%;
}

.table td {
    background-color: grey;
}

.selection-row {
    display: flex;
    max-width: 400px;
    padding-bottom: 1%;
}

.selection-data-wrapper {
    position: relative;
    margin-left: 2rem;
    justify-content: center;

    &--border {
        padding-top: 12px;
        margin-left: -42px;
        height: 2px;
        width: 330px;
        border-bottom: 2px solid $blue-20;
    }
}

.selection-panel-title {
    height: 28px;
    width: 250px;
    color: $white;
    font-family: $base-font-family;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 2rem;
    padding: 30px 0 14px 33px;
}

.selection-data-container {
    width: 300px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 1% 2% 1% 2%;
    outline: none;
}

.stop-place-container {
    cursor: pointer;
    background-color: $blue-10;
}

.city-bike-name {
    margin-left: 2%;
    margin-top: 16px;
    width: 200px;
}

.stop-place-container[aria-selected='true'] {
    outline: none;
    max-height: 500px;
}

.stop-place-header {
    display: flex;
    flex-direction: row;
}

.checkbox-container-check-all {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 60px;
    margin-left: 52px;
    margin-top: 20px;

    p {
        padding-left: 4px;
        height: 20px;
        width: 80px;
        color: #9ba4d2;
        font-family: $base-font-family;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}

.entur-radio-checkbox--squared {
    .entur-radio-checkbox__input {
        background-color: $white;
        border: none;
        cursor: pointer;
        margin-top: 14px;
    }
}

.checkbox-container {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px 0 0 38px;
    border-radius: 10px;
}

.entur-radio-checkbox--round {
    .entur-radio-checkbox__input {
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
        background-color: #171c56;
        background-image: url('../../assets/icons/unChecked.png');

        &:checked {
            background-image: url('../../assets/icons/check.png');
        }
    }
}

.entur-radio-checkbox--margin {
    margin-top: 3px;
}

.selection-panel {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.selection-panel::-webkit-scrollbar {
    display: none;
}

.search-stop-places {
    height: 133px;
}

.city-bike-panel,
.stop-place-panel {
    width: 400px;
    height: 500px;
    background-color: $blue-10;
    overflow: auto;
}

.city-bike-panel::-webkit-scrollbar,
.stop-place-panel::-webkit-scrollbar {
    display: none;
}

.stop-place-title {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 10px 0 0;
}

.city-bike-row-bottom-border {
    padding-top: 11px;
    margin-left: 34px;
    height: 2px;
    width: 334px;
    border-bottom: 2px solid $blue-20;
}

.show-button {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 10px;

    &--text {
        height: 20px;
        width: 40px;
        color: $white;
        font-family: $base-font-family;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        text-align: right;
        padding: 2px;
    }
}

.admin-route-row {
    width: 100px;

    td {
        padding: 8px;
    }
}

.accordion__body {
    padding: 0 -10px 5px -10px;
    display: block;
    animation: fadein 0.35s ease-in;
    margin: 0 0 0 -93px;
}

.accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein 0.35s ease-in;
}

.accordion__title {
    margin-top: 40px;
}

.accordion__arrow {
    display: inline-flex;
    width: 24px;
    position: relative;
}

.accordion__arrow::after,
.accordion__arrow::before {
    display: block;
    position: absolute;
    top: 50%;
    width: 8px;
    height: 2px;
    background-color: currentColor;
    content: '';
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.accordion__arrow::before {
    left: 7px;
    transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before,
[aria-selected='true'] .accordion__arrow::before {
    transform: rotate(-45deg);
}

.accordion__arrow::after {
    right: 4px;
    transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after,
[aria-selected='true'] .accordion__arrow::after {
    transform: rotate(45deg);
}

.admin-route-table {
    border-spacing: 0 5px;
    margin-top: -4px;
    width: 440px;
    background-color: $blue-20;
    border-radius: 0 0 1px 1px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.43);
    padding-left: 44px;
    padding-right: 52px;
}

.admin-route-icon {
    width: 5%;
    margin-right: 10px;
}

.admin-route-title {
    height: 20px;
    color: $white;
    font-family: $base-font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.admin-route-button-container {
    width: 5%;
    position: relative;
}

.close {
    background: white;
    height: 18px;
    position: relative;
    width: 2px;
}

.close::after {
    background: $white;
    content: "";
    height: 2px;
    left: -8px;
    position: absolute;
    top: 8px;
    width: 18px;
}

.close,
.close::after {
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.close[value='true'],
[value='true'] .close::after {
    transform: rotate(45deg);
}

.admin-route-button {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .checkbox-container {
        width: 8%;
    }

    .selection-data-wrapper {
        width: 92%;
    }

    .selection-panel {
        overflow: visible;
    }
}

@media (max-width: 480px) {
    .header {
        position: absolute;
    }

    .header-container {
        display: block;
        margin: 1.8rem 0 0 1.2rem;

        &--data-and-clock {
            display: none;
        }
    }

    .admin-container {
        margin-top: 150px;
    }

    .admin-header {
        margin-left: 10px;
        margin-right: 0;
    }

    .admin-content {
        display: contents;
    }

    .filter-panel {
        width: 100%;
    }

    .mode-sort-container {
        flex-wrap: wrap;
    }

    .search-stop-places {
        margin: 30px 0 -30px 0;
    }

    .update-button-container {
        text-align: left;
        float: left;
        margin: 2rem 0 2rem 17.6rem;
    }

    .selection-panel {
        width: 100%;
        overflow: visible;
        margin-left: 32px;
    }

    .checkbox-container {
        width: 15%;
    }

    .selection-data-wrapper {
        width: 80%;
    }

    .admin-button-container {
        display: flex;
        justify-content: space-around;
    }

    .admin-button {
        width: 45%;
        padding: 12px;
    }

    .distance-text {
        padding-right: 60px;
    }
}
