@import '~@entur/component-library/src/styles/_colors.scss';

.admin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-button {
    background-color: grey;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 50%;
}


.selection-row {
    display: flex;
    width: 100%;
    padding-bottom: 1%;
}

.selection-data-wrapper {
    width: 95%;
}

.selection-panel-title {
    padding: 2% 0 2% 0;
}

.selection-data-container {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 1% 0 1% 2%;
    background-color: #272727;
    outline: none;
}

.stop-place-container {
    justify-content: space-between;
}

.city-bike-name {
    margin-left: 2%;
}


.stop-place-container[aria-selected='true'] {
    outline: none;
    border-bottom: 3px solid #FF5959;
}

.checkbox-container {
    width: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0 0 3px;
}

.stop-place-title {
    width: 95%;
}

.show-button {
    display: flex;
    align-items: center;
    width: 5%;
    justify-content: center;
}
.stop-place-table td {
    color: #FFFF;
    background-color: #272727;
    padding: 0.5rem 1rem;
}

.accordion__body {
    padding: 0px 10px 5px 10px;
    display: block;
    animation: fadein 0.35s ease-in;
}

.accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein 0.35s ease-in;
}

.accordion__arrow {
    display: inline-flex;
    width: 24px;
    height: 12px;
    position: absolute;
}

.accordion__arrow::after,
.accordion__arrow::before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: '';
}

.accordion__arrow::before {
    left: 4px;
    transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before, [aria-selected='true'] .accordion__arrow::before {
    transform: rotate(-45deg);
}

.accordion__arrow::after {
    right: 4px;
    transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after, [aria-selected='true'] .accordion__arrow::after {
    transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.admin-route-table {
    border-spacing: 0 5px;
    width: 100%;
    margin-top: -4px;
    color: $white;
}

.admin-route-icon {
    width: 5%;
}

.admin-route-title {
    width: 90%;
}

.admin-route-button-container {
    width: 5%;
    position: relative;
}


.close {
  background: white;
  height: 18px;
  position: relative;
  width: 2px;
}
.close:after {
  background: $white;
  content: "";
  height: 2px;
  left: -8px;
  position: absolute;
  top: 8px;
  width: 18px;
}

.close, .close:after {
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.close[value='true'], [value='true'] .close:after {
    transform: rotate(45deg);
}


.admin-route-button {
    border: none;
    color: inherit;
    outline: none;
    background-color: inherit;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
