$colors-brand-blue: #181c56;
$colors-brand-lavender: #aeb7e2;
$colors-brand-white: #fff;
$colors-brand-coral: #ff5959;
$colors-brand-peach: #ffbf9e;
$colors-blues-blue10: #292b6a;
$colors-blues-blue20: #393d79;
$colors-blues-blue30: #54568c;
$colors-blues-blue40: #656782;
$colors-blues-blue50: #8285a8;
$colors-blues-blue60: #babbcf;
$colors-blues-blue70: #d1d4e3;
$colors-blues-blue80: #ebebf1;
$colors-blues-blue90: #f5f5f8;
$colors-greys-grey: #121212;
$colors-greys-grey10: #2a2a2a;
$colors-greys-grey20: #353535;
$colors-greys-grey30: #4d4d4d;
$colors-greys-grey40: #646464;
$colors-greys-grey50: #949494;
$colors-greys-grey60: #d1d3d3;
$colors-greys-grey70: #e9e9e9;
$colors-greys-grey80: #f3f3f3;
$colors-greys-grey90: #f8f8f8;
$colors-validation-sky: #0082b9;
$colors-validation-sky-contrast: #64b3e7;
$colors-validation-sky-tint: #e1eff8;
$colors-validation-lava: #d31b1b;
$colors-validation-lava-contrast: #ff9494;
$colors-validation-lava-tint: #ffcece;
$colors-validation-mint: #1a8e60;
$colors-validation-mint-contrast: #5ac39a;
$colors-validation-mint-tint: #d0f1e3;
$colors-validation-canary: #ffca28;
$colors-validation-canary-contrast: #ffe082;
$colors-validation-canary-tint: #fff4cd;
$colors-misc-focus: rgba(68, 192, 255, 0.5);
$colors-misc-black: #000;
$colors-transport-default-metro: #de8108;
$colors-transport-default-bus: #c5044e;
$colors-transport-default-plane: #800664;
$colors-transport-default-helicopter: #800664;
$colors-transport-default-tram: #642e88;
$colors-transport-default-funicular: #642e88;
$colors-transport-default-cableway: #642e88;
$colors-transport-default-taxi: #181c56;
$colors-transport-default-bicycle: #181c56;
$colors-transport-default-walk: #181c56;
$colors-transport-default-train: #00367f;
$colors-transport-default-ferry: #0497bc;
$colors-transport-default-carferry: #0497bc;
$colors-transport-default-mobility: #388f76;
$colors-transport-contrast-metro: #f08901;
$colors-transport-contrast-bus: #ff6392;
$colors-transport-contrast-plane: #fbafea;
$colors-transport-contrast-helicopter: #e258c3;
$colors-transport-contrast-tram: #b482fb;
$colors-transport-contrast-funicular: #a476e5;
$colors-transport-contrast-cableway: #a476e5;
$colors-transport-contrast-taxi: #fff;
$colors-transport-contrast-bicycle: #fff;
$colors-transport-contrast-walk: #fff;
$colors-transport-contrast-train: #42a5f5;
$colors-transport-contrast-ferry: #6fdfff;
$colors-transport-contrast-carferry: #6fdfff;
$colors-transport-contrast-mobility: #00db9b;
$colors-data-default-blue: #181c56;
$colors-data-default-coral: #ff5959;
$colors-data-default-jungle: #0ea2a8;
$colors-data-default-azure: #2f98fa;
$colors-data-default-lavender: #8692ca;
$colors-data-default-peach: #ca825b;
$colors-data-default-spring: #57a257;
$colors-data-default-lilac: #8e57e3;
$colors-data-contrast-blue: #6466aa;
$colors-data-contrast-coral: #ff5959;
$colors-data-contrast-jungle: #0fc2b3;
$colors-data-contrast-azure: #64b2fb;
$colors-data-contrast-lavender: #aeb7e2;
$colors-data-contrast-peach: #ffbf9e;
$colors-data-contrast-spring: #7bc00b;
$colors-data-contrast-lilac: #ea8bea;
$shadows-focus: 0 0 0 0.125rem #fff, 0 0 0 0.25rem #181c56;
$shadows-focus-contrast: 0 0 0 0.125rem #181c56, 0 0 0 0.25rem #fff;
$shadows-card-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.12);
$shadows-card-shadow-hover: 0 0.125rem 1rem 0 rgba(0, 0, 0, 0.1);
$shadows-card-shadow-contrast: 0 0.0625rem 0.1875rem 0 rgba(57, 61, 121, 1);
$shadows-card-shadow-hover-contrast: 0 0.125rem 1rem 0 rgba(57, 61, 121, 1);
$shadows-box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.25);
$shadows-box-shadow-contrast: 0 0.0625rem 0.1875rem rgba(57, 61, 121, 1);
$space-none: 0;
$space-default: 1rem;
$space-extra-small2: 0.25rem;
$space-extra-small: 0.5rem;
$space-small: 0.75rem;
$space-medium: 1rem;
$space-large: 1.5rem;
$space-extra-large: 2rem;
$space-extra-large2: 2.5rem;
$space-extra-large3: 3rem;
$space-extra-large4: 3.5rem;
$space-extra-large5: 4rem;
$space-extra-large6: 4.5rem;
$space-extra-large7: 5rem;
$space-extra-large8: 5.5rem;
$space-extra-large9: 6rem;
$font-weights-body: 500;
$font-weights-heading: 600;
$font-sizes-extra-small: 0.625rem;
$font-sizes-small: 0.75rem;
$font-sizes-medium: 0.875rem;
$font-sizes-large: 1rem;
$font-sizes-extra-large: 1.25rem;
$font-sizes-extra-large2: 1.5rem;
$font-sizes-extra-large3: 1.75rem;
$font-sizes-extra-large4: 2rem;
$font-sizes-extra-large5: 2.5rem;
$line-heights-extra-small: 0.875rem;
$line-heights-small: 1rem;
$line-heights-medium: 1.25rem;
$line-heights-large: 1.375rem;
$line-heights-extra-large: 1.5rem;
$line-heights-extra-large2: 1.75rem;
$line-heights-extra-large3: 1.875rem;
$line-heights-extra-large4: 2.25rem;
$line-heights-extra-large5: 2.625rem;
$line-heights-extra-large6: 3rem;
$line-heights-extra-large7: 3.75rem;
$breakpoints-medium: 50rem;
$breakpoints-large: 75rem;
$border-widths-default: 0.125rem;
$border-widths-small: 0.0625rem;
$border-widths-medium: 0.125rem;
$border-widths-large: 0.25rem;
$border-radiuses-default: 0.0625rem;
$border-radiuses-small: 0.0625rem;
$border-radiuses-medium: 0.25rem;
$z-indexes-behind: -1;
$z-indexes-default: 0;
$z-indexes-sticky: 10;
$z-indexes-popover: 20;
$z-indexes-overlay: 30;
$z-indexes-modal: 40;
$z-indexes-toast: 50;
$timings-fast: 0.1s;
$timings-medium: 0.2s;
$timings-slow: 0.5s;
$outlines-focus: 2px solid #181c56;
$outlines-focus-contrast: 2px solid #fff;
$outline-offsets-focus: 0.125rem;
