.header {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-bottom: var(--colors-blues-blue20) solid;
    margin-bottom: 1em;
    height: 3em;
}

.title {
    display: flex;
    height: 3em;
    align-items: center;
    font-weight: 500;
    color: var(--colors-brand-lavender);
    padding: 0 0.25rem;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.title:hover {
    cursor: grab;
    background-color: var(--tertiary-background-color);
}

.title:active {
    cursor: grabbing;
}
