.page {
    background-color: var(--colors-brand-white);
    color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
}

.illustration {
    height: 10rem;
    width: auto;
}
