.page {
    background-color: var(--colors-brand-white);
    color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
}

.illustration {
    height: 10rem;
    width: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;
    align-items: flex-start;
}

@media (max-width: 50rem) {
    .grid {
        grid-template-columns: auto;
    }
}
