@import '../../../../assets/styles/import.scss';
@import '../../../../variables.scss';

.tilerow {
    display: flex;
    border-bottom: 2px solid var(--tavla-border-color);
    padding: 1rem 0;
    overflow-x: hidden;

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    &__label {
        margin: 0;
        margin-bottom: 0.5rem;
        color: var(--tavla-font-color);
    }

    &__icon {
        min-width: 2rem;
        margin-right: 1rem;
        font-size: $font-sizes-extra-large4;
    }

    &__texts {
        flex-direction: column;
        flex-grow: 1;
    }
    &__walking-time {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        margin: 0.5rem 0;
        color: var(--tavla-label-font-color);
    }

    &__sublabels {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        justify-content: space-between;
        min-width: 130rem;
        font-size: $font-sizes-extra-large;
    }

    &__sublabel {
        align-items: center;
        display: flex;
        font-weight: 400;

        &__cancellation {
            align-items: center;
            border-radius: 0.5rem;
            display: flex;
            height: 0.875rem;
            justify-content: center;
            margin-left: 0.375rem;
            overflow: visible;
            width: 0.875rem;
        }

        &__situation {
            font-size: 1.125rem;
            height: 1.25rem;
            margin-left: 0.375rem;
        }

        svg {
            margin-left: -0.125rem;
            margin-right: -0.125rem;
        }
    }
}
