@import '../../../../assets/styles/import.scss';

.tilerow {
    display: flex;
    border-bottom: 2px solid $colors-blues-blue20;
    padding: 1rem 0;

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    &__label {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    &__icon-notice {
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    &__icon {
        min-width: 2rem;
        margin-right: 1rem;
        font-size: 2rem;
    }

    &__texts {
        flex-direction: column;
        flex-grow: 1;
    }

    &__sublabels {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.25rem;
        justify-content: space-between;
        max-width: 20rem;
    }

    &__sublabel {
        align-items: center;
        display: flex;
        font-weight: 400;

        &__cancellation {
            align-items: center;
            background-color: $colors-brand-white;
            border-radius: 0.5rem;
            display: flex;
            height: 0.875rem;
            justify-content: center;
            margin-left: 0.375rem;
            overflow: visible;
            width: 0.875rem;
        }

        &__situation {
            width: 0.9375rem;
        }

        svg {
            margin-left: -0.125rem;
            margin-right: -0.125rem;
        }
    }
}
