@use '../../../../assets/styles/Variables.scss';

.compact .tilerow {
    display: flex;
    border-bottom: 2px solid var(--tavla-border-color);
    padding: 1rem 0;

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    &__label {
        margin: 0;
        margin-bottom: 0.5rem;
        color: var(--tavla-font-color);
    }

    &__icon {
        min-width: 2rem;
        margin-right: 1rem;
        font-size: Variables.$font-sizes-extra-large4;
    }

    &__texts {
        flex-direction: column;
        flex-grow: 1;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__walking-time {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        margin: 0.5rem 0;
        color: var(--tavla-label-font-color);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__sublabels {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        font-size: Variables.$font-sizes-extra-large;
    }

    &__sublabel {
        align-items: center;
        display: flex;
        font-weight: 400;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &:first-child {
            padding-left: 0;
        }

        &__date {
            color: var(--tavla-label-font-color);
            margin-left: 0.5rem;
        }

        &__divider {
            border-left: 2px solid var(--tavla-label-font-color);
        }
    }
}
