.TableRow {
    border-bottom: 2px solid var(--tavla-checkbox-color);

    & td {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.RouteNumber {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.38rem 0.9rem;
    border-radius: 0.45rem;
    color: var(--tavla-background-color);
}

.DepartureName {
    max-width: 0;
    width: 100%;
    padding-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.Situation {
    font-size: 1.2rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.DepartureTime {
    white-space: nowrap;
    text-align: right;
}

.PublicCode {
    font-size: 1.6rem;
}
