.organizations {
    display: grid;
    grid-auto-rows: 2.5em;
    gap: 0.5em 0;
    align-items: center;
}

.header {
    border-bottom: var(--table-header-border-color) solid;
    font-weight: 500;
    color: var(--secondary-text-color);
    padding-bottom: 0.5rem;
}
