.header{
    text-align: right;
    height: 5%
}

.departure {
    display: flex;
    justify-content: center;
}

.type {
    width: 5%;
}

.time {
    width: 15%;
    text-align: center
}

.table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0 0.5rem;
}

.table td {
    background-color: #F3F3F3;
    padding: 0.5rem 1rem;
}

.table-header{
    width: 100%;
}

.tile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272727;
    color: white;
    width: 15%;
    padding: 2.5% 1.6% 2.5% 1.6%;
    margin: 2%;
    height: fit-content;
    align-self: center;
}

.citybike-header-container{
    flex-direction:column;
    align-self:center;
    text-align: center;
}

.bike-container{
    display: flex;
    flex-direction:column;
}


.bike-station-container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    font-weight: 500;
}

.available{
    flex-basis:50%;
    display:flex;
    align-items: center;
    flex-direction: row;
}

.bike-station-icon{
    margin-right: 15%;
}

.stop-header{
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.route-name{
    display: flex;
    flex-direction:row;
    align-items: center;
}

.route-icon{
    margin-right: 5%;
}

.route-departures{
    display: flex;
    flex-direction:row;
    overflow: hidden;
}

.route-departure-time{
    margin-right: 4%;
    color: #9e9e9e;
    font-weight: 400;
}
