@import '../../../../assets/styles/import.scss';

.distance-editor {
    width: 400px;
    display: flex;
    flex-direction: column;

    &__text {
        font-size: 0.875rem;
        font-weight: 500;
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .distance-editor {
        width: unset;
    }
}
