@use '../../../../../assets/styles/Variables.scss';

.custom-tile-panel {
    .eds-button {
        &.eds-button--variant-primary {
            background: var(--floating-button-primary-background);
            color: var(--floating-button-primary-font-color);
            border: none;
        }

        &:hover {
            filter: brightness(0.95);
        }
    }

    &__add-button {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}
