.header{
    text-align: right;
    height: 5%;
}

.type {
    width: 5%;
}

.time {
    width: 15%;
    text-align: center
}

.bike-tile-container{
    justify-content: center;
}

.bike-tile-container h2{
    font-size: 1.5rem;
    margin: 0 0 15 0;
}


.bike-station-title {
    display: flex;
    justify-content: center;
}

.bike-header-container{
    flex-direction:column;
    align-self:center;
    text-align: center;
}

.bike-station-title{
    margin: 0;
}

.available{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.6em;
    flex-direction: row;
    padding: 5% 0%;
}

.bike-available-text {
    text-align: center;
    width: 20%;

    p {
        font-size: 1.4rem;
        margin: 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .bike-tile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #272727;
        color: white;
        width: 100%;
        padding: 2.5% 1.6% 2.5% 1.6%;
        margin: 2% 0 2% 0;
        height: fit-content;
        align-self: center;
    }

    h4 {
        margin: 2%;
    }
}
