.header {
    text-align: right;
    height: 5%;
}

.type {
    width: 5%;
}

.time {
    width: 15%;
    text-align: center;
}

.bike-container {
    margin-bottom: 14px;
    border-bottom: 2px solid #393D79;
}

.bike-container:last-child {
    border: none;
    margin-bottom: 0;
}

.bike-header--text {
    display: inline-block;
	height: 28px;
	width: 120px;
	color: #FFFFFF;
	font-family: Nationale;
	font-size: 28px;
	font-weight: 500;
	line-height: 28px;
}

.stop-header-icons {
    width: 45px;
    float: right;
    padding-left: 10px;
    margin-top: 20px;
}

.bike-station-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;

    p {
        height: 25px;
        width: 200px;
        color: #FFFFFF;
        font-family: Nationale;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
    }
}

.route-icon {
    margin-right: 20px;
    margin-left: -5px;
}

.available {
    display: flex;
    align-items: center;
    padding-left: 46px;
    height: 40px;

    p {
        width: 80px;
        color: #9BA4D2;
        font-family: Nationale;
        font-size: 14px;
        font-weight: 400;
    }
}


@media (max-width: 480px) {
    .bike-tile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #272727;
        color: white;
        width: 100%;
        padding: 2.5% 1.6% 2.5% 1.6%;
        margin: 2% 0 2% 0;
        height: fit-content;
        align-self: center;
    }

    h4 {
        margin: 2%;
    }
}
