
.stop-place-table {
    width: 100%;
    border-spacing: 0 0.5rem;
}

.stop-place-row {
    width: 100%
}

.checkbox-table-data {
}

.show-more-button {
}

.stop-place-table td {
    color: #FFFF;
    background-color: #272727;
    padding: 0.5rem 1rem;
}

.checkbox {
    width: 25px;
}
