@use '../../assets/styles/Variables.scss';

$max-width: 86rem;

.landing-page {
    color: Variables.$colors-brand-blue;
    background-color: white;
    padding-bottom: Variables.$space-extra-large9;

    &__header-grid {
        max-width: $max-width;
        margin: auto;
        padding: Variables.$space-medium;
    }

    &__contrast {
        overflow: visible;
    }

    header {
        margin: Variables.$space-extra-large auto;
    }

    &__carousel {
        display: flex;
        flex-direction: column;

        > h1 {
            font-weight: Variables.$font-weights-body;
        }
    }

    &__link-wrapper {
        display: flex;
        align-items: center;
        padding: Variables.$space-extra-large3 Variables.$space-large;
        text-align: right;

        svg {
            font-size: Variables.$font-sizes-extra-large;
        }
    }

    &__entur-link.eds-link {
        background-image: linear-gradient(
            120deg,
            Variables.$colors-brand-coral,
            Variables.$colors-brand-coral
        );
        font-size: Variables.$font-sizes-extra-large;
        font-weight: Variables.$font-weights-body;
    }

    &__search-panel {
        max-width: $max-width;
        margin: Variables.$space-extra-large auto;
    }

    &__main-image-container {
        background: linear-gradient(
            Variables.$colors-brand-blue 0%,
            Variables.$colors-brand-blue 50%,
            Variables.$colors-brand-white 50%,
            Variables.$colors-brand-white 100%
        );

        > img {
            display: block;
            margin: auto;
        }
    }

    &__screenshot {
        max-width: 100%;
    }

    article {
        max-width: $max-width;
        margin: Variables.$space-extra-large8 auto;
    }

    &__article-grid-item {
        padding: 0 Variables.$space-default;
    }

    &__logo {
        height: 32px;
    }

    &__cover-photo {
        padding: Variables.$space-medium;
        width: 100%;
        max-width: $max-width;
    }
}

@media (max-width: Variables.$breakpoints-large) {
    .landing-page {
        &__header-grid {
            padding: Variables.$space-medium;
        }

        &__main-image-container {
            display: none;
        }

        &__entur-link.eds-link {
            font-size: Variables.$font-sizes-large;
        }

        &__link-wrapper {
            padding: Variables.$space-extra-large3 Variables.$space-medium;
        }
    }
}

.screenreader-text {
    color: #181c56;

    &:focus {
    background: #ffca28;
    color: #181c56;
    display: block;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    outline: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
  }

  &:visited{
    display: none;
  }
  
}