@import '~@entur/component-library/src/styles/_colors.scss';

$primary-font: 'Nationale', 'Gotham Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

img {
    max-width: 80%;
    height: auto;
}

.landing-page-wrapper {
    width: 100%;
    height: 100%;
    color: $primary;
    margin: 0;
    background-color: $white;
}

.title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    padding-top: 3.5%;
    margin-bottom: -1%;
}

.title__logo {
    height: 5.57%;
    width: 19.93%;
}

.title__subtext {
    height: 5.47%;
    width: 58.33%;
    min-width: 300px;
    color: #181c56;
    font-family: $primary-font;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
}

.cover-photo {
    width: 78%;
}

.searchPanel-subtext {
    max-width: 38.33%;
    min-width: 350px;
    color: #171c56;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    padding-top: 4px;
}

@media (max-width: 480px) {
    p {
        text-align: center;
    }

    .title-container {
        padding-top: 40px;
    }
}

@media screen and (max-device-width: 480px) {
    /* some CSS here */
}
