@import '~@entur/component-library/src/styles/_colors.scss';

img {
    max-width: 80%;
    height: auto;
}

.landing-page-wrapper {
    width: 100%;
    height: 100%;
    color: $primary;
    margin: 0;
    background-color: $blue-80;
}

.title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white;
}

.round-shape {
    clip-path: ellipse(55vw 150% at 50% -50%);
    background-color: $white;
    height: 10%;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    background-color: $blue-80;
}

@media (max-width: 480px) {
    p {
        text-align: center;
    }
}
