@import '../../../variables.scss';

.theme-tab {
    color: var(--tavla-font-color);
    width: 100%;

    &__paragraph {
        color: var(--tavla-font-color);
        max-width: 40rem;
    }

    &__eds-paragraph {
        color: var(--tavla-font-color);
    }

    &__color {
        color: var(--tavla-font-color);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    }

    &__theme-card {
        max-width: 35rem;
    }

    &__font-size-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    &__font-size-button {
        width: 11rem;
        min-width: 8rem;
    }

    &__font-size-percentage {
        width: 5rem;
        text-align: center;
    }
}

.legacy-theme-tab {
    color: var(--tavla-font-color);
    width: 100%;

    &__eds-paragraph {
        color: var(--tavla-font-color);
    }
}

.heading {
    color: var(--tavla-font-color);
}

.font-scale-button-text {
    margin: 2rem;
}

@media (max-width: 450px) {
    .theme-tab {
        width: 100%;
        display: grid;
        box-sizing: border-box;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        &__theme-card {
            margin: 0 0 1rem 0;
        }
    }
    .font-scale-button-text {
        margin: 1rem;
    }
}
