@import '../../../variables.scss';

.theme-tab {
    color: var(--tavla-font-color);
    width: 100%;

    &__paragraph {
        color: var(--tavla-font-color);
    }

    &__eds-paragraph {
        color: var(--tavla-font-color);
    }

    &__color {
        color: var(--tavla-font-color);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    }

    &__grid-itme {
        display: flex;
        flex-direction: column;
        width: fit-content
    }

    &__theme-card {
        max-width: 35rem;
    }
}

.legacy-theme-tab {
    color: var(--tavla-font-color);
    width: 100%;

    &__eds-paragraph {
        color: var(--tavla-font-color);
    }
}

.heading {
    color: var(--tavla-font-color);
}

@media (max-width: 450px) {
    .theme-tab {
        width: 100%;
        display: grid;
        box-sizing: border-box;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        &__theme-card {
            margin: 0 0 1rem 0;
        }
    }
}
