@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.map-view {
    width: 100%;
    color: white;
    padding: 0;
}

.departure-display {
    width: 100%;
    display: flex;
    position: absolute;
    height: auto;
    bottom: 1.5rem;
    align-items: center;
    justify-content: left;
    overflow-x: scroll;
}
.content {
    max-width: 100%;
}

.weather-display {
    position: absolute;
    width: min-content;
    top: 9rem;
    right: 0;
}

@media (max-width: 1000px) {
    .content {
        margin-bottom: 6rem;
    }
}
