.realtime-detail-panel {
    &__realtime-selection-panel {
        .expandable-panel__wrapper:not(:last-child) {
            border-bottom: 0.125rem solid var(--tavla-border-color);
        }
    }

    &__route-display-selection {
        display: flex;
        align-items: center;

        &-info-text {
            margin-right: 1rem;
        }
    }

    &__route-selection-wrapper {
        .eds-expandable-panel__trigger {
            padding-left: 0;
            margin-top: 0.5rem;
        }
    }

    .eds-expandable-panel__content,
    .eds-expandable-panel__trigger,
    .eds-expandable-panel__trigger:hover {
        background: none;
        box-shadow: none;
    }

    .eds-filter-chip {
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .eds-chip {
        background-color: var(--tavla-border-color);
    }

    .eds-filter-chip__icon {
        background-color: var(--tavla-background-color);
    }
}
