.OpeningHoursTile {
    height: 100%;
    font-weight: 200;
}

.Day {
    font-weight: 600;
}

.OpeningHours {
    font-size: 1.2rem;
    line-height: 2;
}

.CurrentHours {
    font-weight: 800;
    font-size: 1.5rem;
}
