.addMemberButton {
    max-width: 12rem;
}

.memberListRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--table-border-color);
}

.inviteForm {
    display: flex;
    gap: 0.5em;
    height: 4rem;
}
.tableHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--table-header-border-color) solid;
    font-weight: 600;
    color: var(--primary-text-color);
    padding-bottom: 0.5rem;
}
