@import '../../assets/styles/import.scss';

.chrono {
    &__tiles {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;

        .tile {
            width: 100%;
            height: 100%;
            overflow-y: scroll;

            &__header-icons {
                font-size: 2rem;
            }

            border-radius: 1rem;
        }

        .maptile {
            height: inherit;
            width: 100%;
            overflow: hidden;
            margin-bottom: 1rem;
            border-radius: 1rem;
            z-index: 1;
        }
    }

    .react-grid-layout {
        position: relative;
        transition: height 200ms ease;
    }
    .react-grid-layout:last-child {
        margin-bottom: 5rem;
    }

    .react-grid-item {
        transition: all 200ms ease;
        transition-property: left, top;
        z-index: 1;
        display: flex;
    }

    .react-grid-item.cssTransforms {
        transition-property: transform;
    }

    .react-grid-item.resizing {
        z-index: 1;
        will-change: width, height;
    }

    .react-grid-item.react-draggable-dragging {
        transition: none;
        z-index: 3;
        will-change: transform;
    }

    .react-grid-item.dropping {
        visibility: hidden;
    }

    .react-grid-item.react-grid-placeholder {
        background: var(--tavla-border-color);
        opacity: 0.2;
        transition-duration: 100ms;
        z-index: 2;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .react-grid-item > .react-resizable-handle {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 0;
        cursor: ns-resize;
        z-index: 2;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .react-grid-item:hover > .react-resizable-handle {
        opacity: 1;
    }

    .react-grid-item > .react-resizable-handle::after {
        content: '';
        position: absolute;
        width: 20%;
        height: 0.25rem;
        bottom: 0;
        margin: 0 40%;
        border-radius: 50vh;
        background-color: var(--tavla-font-color);
        opacity: 0.7;
        transition: bottom 0.3s;
    }

    .react-grid-item:hover > .react-resizable-handle::after {
        bottom: 0.5rem;
    }
}

@media (min-width: 996px) {
    .chrono {
        &__tiles {
            /*
            react-grid-layout uses a margin of 32px between all grid-items.
            This makes the tiles not lign up with the header, so to counteract
            these margins on the sides, this styling is needed. 
            */

            margin-left: -2rem;
            margin-right: -2rem;
        }
    }
}

@media (max-width: 1000px) {
    .chrono {
        padding: 1rem;
        overflow-x: visible;
        overflow-y: hidden;

        &__tiles {
            display: block;

            .tile {
                margin-bottom: 1rem;
                width: 100%;
            }
        }
        .maptile {
            margin-bottom: 6rem;
            height: 630px;
            max-height: unset;
            width: 100%;
        }
        .react-grid-item > .react-resizable-handle {
            visibility: hidden;
        }
    }
}
