node_modules/
.DS_Store
dist/
.vscode/
.idea/
.firebase/*.cache
*.log
functions/lib
sentry.properties

# yarn, see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions