.DS_Store

.env.local
entur-tavla-staging-firebase-adminsdk.json
entur-tavla-prod-firebase-adminsdk.json

migrations/python-venv
migrations/scripts/__pycache__

node_modules/
**/.firebase
firebase-export-*

# TypeScript cache
*.tsbuildinfo

.vscode/
.next/
.next-e2e/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

cypress/videos
cypress/screenshots

e2e/.auth/
test-results/
playwright-report/
blob-report/
playwright/.cache/

firebase-debug.log
firestore-debug.log
ui-debug.log

.db

firebase.e2e.json
e2e/.ports.json
