.DS_Store

.env.local
entur-tavla-staging-firebase-adminsdk.json
entur-tavla-prod-firebase-adminsdk.json

migrations/python-venv
migrations/scripts/__pycache__

node_modules/
**/.firebase
firebase-export-*

.vscode/
.next/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

cypress/videos
cypress/screenshots

firebase-debug.log
firestore-debug.log
ui-debug.log

.db
