.actions {
    display: flex;
    gap: 0.5em;
}

.column {
    padding-left: 0.25em;
    min-height: 2.25rem;
    display: flex;
    align-items: center;
}

.tags {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}
