.ChronoDepartureTile {
    height: 100%;
}

.TableHead {
    border-bottom: none;
}

// Triple selector to overwrite Entur design system styling
.Cell.Cell.Cell {
    padding: 1rem 0 1rem 0.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--tavla-font-color);
}

.Icon {
    width: 14%;
}

.Line {
    width: auto;
}

.Departure {
    width: 20%;
}

.Track {
    width: 11%;
}

.Situation {
    width: 11%;
}

@media (min-width: 480px) {
    .Track {
        width: 10%;
    }

    .Situation {
        width: 10%;
    }
}
