@import '~@entur/component-library/src/styles/_colors.scss';
.table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0 0.5rem;
}

.table td {
    background-color: #F3F3F3;
    padding: 0.5rem 1rem;
}

.departure-tiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70%;
    align-content: center;
}

.settings-button {
    border: 0;
    padding: 0;
    display: none;
    background-color: inherit;
    &:hover{
        cursor: pointer;
    }
}

.app:hover .settings-button, .settings-button:hover {
    display: block;
}

.button-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    height: 20px;
}

.no-stops .settings-button{
    display: block;
}

.no-stops-sheep{
    text-align: center;
    height: 70%;
    padding: 7%;
}

.footer{
  color: #EBE7E7;
  height: 15%;
  text-align: right;
  padding: 2%;

  p{
      font-weight: 300;
  }
}
