@import '../../assets/styles/import.scss';

.departure-board {
    width: 100%;
    height: 85%;
}

.departure-tiles {
    display: flex;
    overflow: auto;
    height: 94%;
    max-height: 620px;
}

.departure-tiles::-webkit-scrollbar {
    display: none;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0 0.5rem;
}

.table td {
    background-color: $grey-30;
    padding: 0.5rem 1rem;
}

#app {
    footer {
        display: none;
    }

    &:hover {
        footer {
            display: flex;
        }
    }
}

.button-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    height: 20px;
}

.no-stops-sheep {
    text-align: center;
    height: 70%;
    padding: 7%;
}

.footer {
    color: #ebe7e7;
    height: 15%;
    text-align: right;
    padding: 2%;

    p {
        font-weight: 300;
    }
}

@media (hover: none) {
    #app {
        footer {
            display: flex;
        }
    }
}

@media (max-width: 480px) {
    .departure-tiles {
        display: block;
    }

    .departure-board {
        margin-top: 5%;
    }
}
