@import '~@entur/component-library/src/styles/_colors.scss';

.departure-board {
    width: 100%;
}

.departure-tiles {
    display: flex;
    overflow: auto;
}

.departure-tiles::-webkit-scrollbar {
    display: none;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0 0.5rem;
}

.table td {
    background-color: #f3f3f3;
    padding: 0.5rem 1rem;
}

.settings-button {
    border: 0;
    padding: 0;
    background-color: inherit;

    &:hover {
        cursor: pointer;
    }
}

.no-stops .settings-button {
    display: block;
}

.settings-button:hover,
.app:hover .settings-button {
    display: block;
}

.button-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    height: 20px;
}

.no-stops-sheep {
    text-align: center;
    height: 70%;
    padding: 7%;
}

.footer {
    color: #ebe7e7;
    height: 15%;
    text-align: right;
    padding: 2%;

    p {
        font-weight: 300;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .settings-button {
        margin: 2%;
    }

    .settings-button svg {
        height: 35;
        width: 35;
    }
}

@media (max-width: 480px) {
    .departure-tiles {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .departure-board {
        margin-top: 5%;
    }

    .settings-button {
        margin: 2%;
        padding-bottom: 20px;
    }

    .settings-button svg {
        height: 26;
        width: 26;
    }
}
