.radioOption {
    width: 100%;
    border-radius: 1em;
    margin-bottom: 1em;
}

.radioOptionContent {
    display: flex;
    padding-left: 0.5em;
    align-items: center;
    min-height: 2.1em;
    font-size: 1.25em;
}
