.copyText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
    background-color: #ffffff;
    color: #181c56;
    border-radius: 0.5em;
    padding-left: 1em;
    margin-bottom: 1rem;
}
