.tile-table {
  width: 100%;
  font-size: 1rem;
  display: grid;
}

.tile-table thead tr {
  border-bottom: 4px solid #54568c;
  font-weight: 500;
}

.tile-table tbody tr {
  border-bottom: 2px solid #54568c;
}

.tile-row {
  display: grid;
  align-items: center;
  width: 100%;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 1rem;
}
