@import '../../../../assets/styles/import.scss';
@import '../../../../variables.scss';

.realtime-detail-panel {
    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: -1rem;

        .eds-icon {
            transform: scale(1.5) translateY(-0.05rem);
            display: flex;
            justify-content: center;
            margin-left: 0.75rem;
        }
    }

    .expandable-panel {
        &__wrapper {
            border-bottom: 0.125rem solid var(--tavla-border-color);
        }

        &__title {
            &-wrapper {
                width: 100%;
                display: flex;
                align-items: center;
            }
            &-name {
                margin-right: 1rem;
            }
            &-icon {
                margin-bottom: -0.1rem;
                margin-right: 0.5rem;
            }
        }
    }

    &__realtime-selection-panel {
        .expandable-panel__wrapper:not(:last-child) {
            border-bottom: 0.125rem solid var(--tavla-border-color);
        }
    }

    &__route-display-selection {
        display: flex;
        align-items: center;
        &-info-text {
            margin-right: 1rem;
        }
    }

    &__route-selection-wrapper {
        .eds-expandable-panel__trigger {
            padding-left: 0;
            margin-top: 0.5rem;
        }
    }

    .eds-expandable-panel__content,
    .eds-expandable-panel__trigger,
    .eds-expandable-panel__trigger:hover {
        background: none;
        box-shadow: none;
    }

    .eds-filter-chip {
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .eds-chip {
        background-color: var(--tavla-border-color);
    }
    .eds-filter-chip__icon {
        background-color: var(--tavla-background-color);
    }
}
