@import '../../../../assets/styles/import.scss';
@import '../../../../variables.scss';

.toggle-detail-panel.realtime {
    &__container {
        width: 100%;
        height: 100%;
    }
    .eds-chip {
        background-color: var(--tavla-border-color);
    }
    .eds-filter-chip__icon {
        background-color: var(--tavla-background-color);
    }

    @media (max-width: 1000px) {
        display: flex;
        direction: column;

        .eds-filter-chip:not(:first-child) {
            margin-left: 0;
            margin-top: 0.75rem;
            margin-bottom: 0;
        }
    }
    .eds-icon {
        transform: scale(1.5) translateY(-0.05rem);
        display: flex;
        justify-content: center;
        margin-left: 0.75rem;
    }
}
