@use '../../../assets/styles/Variables.scss';

.bicycle-tag {
    background-color: Variables.$colors-transport-default-mobility;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    padding: 0.3125rem;
    font-size: 0.875rem;
    font-weight: 400;

    &__row {
        display: flex;
        align-items: center;
        height: 1.25rem;
        width: 100%;

        &__icon {
            min-width: 1rem;
            margin-right: 0.25rem;
            font-size: 1.125rem;
            padding-top: 0.25rem;
        }

        &__amount {
            width: 100%;
        }
    }
}
