.MenuButton {
    color: var(--tavla-font-color);
    background-color: transparent;
    padding: 2rem;
    border: hidden;
    font: inherit;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.MenuButton:hover {
    cursor: pointer;
    transform: translateY(-8px);
    transition: transform;
}
