@import '../../../../assets/styles/import.scss';
@import '../../../../variables.scss';

.bottom_menu_button {
    height: fit-content;
    width: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: hidden;
    color: var(--tavla-font-color);
    font: inherit;
}

.bottom_menu_button:hover {
    cursor: pointer;
}

.iconHolder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0.3rem;
}

.titleHolder {
    width: 9rem;
}

// Hover.css //
// Float //
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    transform: translateY(-8px);
}
