@import '../../../assets/styles/import.scss';

.radio {
    height: 2rem;
    width: 2rem;
    border: 2px solid $colors-blues-blue30;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__checked {
        background-color: $colors-brand-blue;
        border-color: $colors-brand-blue;

        svg {
            color: $colors-validation-mint-contrast;
        }
    }

    &__icon {
        width: 80%;
        height: 70%;
    }
}
