@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.icon {
    position: relative;
    display: inline-block;
    padding-top: 0.5rem;
    width: 12em;
    height: 10em;
    font-size: 0.25em; /* control icon size here */

    &:active {
        pointer-events: none;
    }
}

.icon_entur {
    position: relative;
    display: inline-block;
    padding-bottom: 0;
    font-size: 4rem;

    &:active {
        pointer-events: none;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
