.editTitle {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--secondary-background-color);
    border-radius: 0.5em;
    padding: 1rem 3rem;
}

.textField {
    width: max-content;
}
