.container {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

.heading {
    font-size: large;
}

.selector {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.input {
    width: 5em;
}
