.tableWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tableFunctions {
    display: flex;
    gap: 1rem;
}

.table {
    display: flex;
    flex-direction: column;
}

.tableBody {
    display: grid;
    grid-template-rows: auto;
}

.sort {
    width: 10rem;
}

.sortItem {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}
