.tableWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tableFunctions {
    display: flex;
    gap: 1rem;
}

.table {
    width: 100;
    display: grid;
    background-color: var(--bg-color);
    grid-template-columns:
        20rem minmax(25rem, 30rem) repeat(
            var(--table-columns),
            minmax(8rem, auto)
        )
        5rem;
}

.tableBody {
    display: grid;
    grid-template-rows: auto;
}

.search {
    width: 15rem;
}

.sort {
    width: 10rem;
}

.sortItem {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}
