.CustomTileModal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
}

.ButtonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.ImageText {
    min-height: fit-content;
}
