@use '../../../assets/styles/Variables.scss';

.search-panel {
    width: 100%;

    .eds-form-control__append {
        display: none;
    }
}

.search-container {
    display: flex;
    position: relative;
    min-width: 55%;
}

.input-container {
    margin-right: 2rem;
    width: 100%;

    .eds-input-group {
        width: 100%;
    }
}

.input-spinner-container {
    display: flex;
    flex-direction: row;
}

.location-icon {
    position: absolute;
    right: 14px;
    top: 14px;
    opacity: 0.3;
}

.spinner-container {
    top: 32%;
    left: 44%;
    margin-left: -30px;
    z-index: 1;
    align-self: center;
    text-align: center;
    padding: 0;

    .spinner {
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: Variables.$breakpoints-large) {
    .search-panel {
        &__submit-button {
            width: 100%;
        }

        .eds-form-control-wrapper--dark input {
            font-size: 1rem;
            line-height: 1rem;
        }

        .search-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .landing-button {
            margin: 2%;
            margin-right: 10px;
            width: 100%;
        }

        .input-container {
            margin-bottom: 0.5rem;
            margin-right: 0;
            min-width: unset;
            width: 100%;
        }
    }
}
