@import '../../../assets/styles/import.scss';

.search-panel {
    width: 100%;

    .eds-form-control-wrapper--dark {
        background-color: $colors-greys-grey40;
        color: $colors-brand-blue;

        &:hover {
            background-color: $colors-greys-grey40;
            color: $colors-brand-blue;

            &::before {
                border-color: $colors-brand-lavender;
            }
        }

        ::placeholder {
            color: $colors-blues-blue40;
        }

        input {
            font-size: $font-sizes-extra-large;
            line-height: $line-heights-extra-large4;
        }
    }

    .eds-dropdown-list__item {
        background-color: $colors-greys-grey40;
        border-bottom: $border-widths-default solid $colors-greys-grey20;
        color: $colors-brand-blue;

        &:hover,
        &:active,
        &:focus,
        &--highlighted {
            background-color: $colors-greys-grey20;
        }
    }

    .eds-form-control__append {
        display: none;
    }
}

.search-container {
    display: flex;
    position: relative;
    min-width: 55%;
}

.input-container {
    margin-right: 2rem;
    width: 100%;

    .eds-input-group {
        width: 100%;
    }
}

.input-spinner-container {
    display: flex;
    flex-direction: row;
}

.location-icon {
    position: absolute;
    right: 14px;
    top: 14px;
    opacity: 0.3;
}

.spinner-container {
    top: 32%;
    left: 44%;
    margin-left: -30px;
    z-index: 1;
    align-self: center;
    text-align: center;
    padding: 0;

    .spinner {
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: $breakpoints-large) {
    .search-panel {
        &__submit-button {
            width: 100%;
        }

        .eds-form-control-wrapper--dark input {
            font-size: 1rem;
            line-height: 1rem;
        }

        .search-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .landing-button {
            margin: 2%;
            margin-right: 10px;
            width: 100%;
        }

        .input-container {
            margin-bottom: 0.5rem;
            margin-right: 0;
            min-width: unset;
            width: 100%;
        }
    }
}
