.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boardViewContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.saveButton {
    width: max-content;
}
