.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floatingButtonWrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.saveButton {
    font-size: 1em;
    font-weight: 400;
}
