.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linkToBoard {
    color: var(--main-background-color);
    background-color: var(--primary-button-color);
    border-radius: 0.25rem;
    height: 3rem;
    width: 9.5rem;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.linkToBoard:hover {
    background-color: var(--primary-button-hover-color);
}
.copyText {
    width: 20rem;
}
