.tableHead {
    padding: 0.5rem 0;
    border-bottom: var(--colors-blues-blue20) solid;
}

.headerRow {
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    color: var(--colors-brand-lavender);
}

.headerCell {
    gap: 0.5rem;
}
