.tableHead {
    padding: 0.5rem 0;
    border-bottom: var(--colors-blues-blue20) solid;
}

.tableHeaderRow {
    display: grid;
    grid-template-columns: 3fr 5fr 1fr 1fr;
}

.tableHeaderCell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    color: var(--colors-brand-lavender);
}
