.tableHead {
    padding: 0.5rem 0;
    border-bottom: var(--colors-blues-blue20) solid;
}

.headerCell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    color: var(--colors-brand-lavender);
}
