.Responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37.5rem, 1fr));
    min-height: 0;
    gap: 1rem;
    flex: 1 0 0;
}

.ResponsiveWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
