.deleteButton {
    border: none;
    font-size: 1em;
}
.deleteButton:hover {
    background-color: var(--colors-blues-blue30);
    border: solid 1px var(--colors-brand-lavender);
}

.deleteButtonContent {
    display: flex;
    gap: 0.5em;
    justify-content: center;
}
