@import '../../../assets/styles/import.scss';
@import '../../../variables.scss';

.edit-tab {
    .eds-contrast {
        background: inherit;
    }

    .eds-checkbox-icon {
        background-color: var(--tavla-checkbox-color);
    }

    .eds-checkbox__icon,
    .eds-contrast .eds-checkbox__icon {
        border: 0.125rem solid var(--tavla-checkbox-color);
        background-color: var(--tavla-checkbox-color);
    }

    .eds-checkbox__container input:checked + .eds-checkbox__icon,
    .eds-checkbox__container input:indeterminate + .eds-checkbox__icon {
        background-color: var(--tavla-checkbox-color);
    }

    .eds-checkbox__container:hover input:checked + .eds-checkbox__icon,
    .eds-checkbox__container:hover input:indeterminate + .eds-checkbox__icon {
        border-color: var(--tavla-checkbox-hover-color);
    }

    .eds-checkbox__container:hover input + .eds-checkbox__icon,
    .eds-contrast .eds-checkbox__container:hover input + .eds-checkbox__icon {
        border-color: var(--tavla-checkbox-hover-color);
        background-color: var(--tavla-checkbox-color);
    }

    .eds-form-control-wrapper {
        --border-color: var(--tavla-input-border-color);
        --border-color-hover: var(--tavla-input-border-hover-color);

        background-color: var(--tavla-input-background-color);

        input::placeholder {
            color: var(--tavla-input-placeholder-color);
        }
    }

    .eds-dropdown__input {
        color: var(--tavla-input-font-color);
    }

    .eds-dropdown__input::placeholder {
        color: var(--tavla-input-font-color);
    }

    .eds-form-control__prepend svg,
    .eds-form-control__append svg {
        color: var(--tavla-input-icon-color);
    }

    .eds-grid__item {
        background-color: var(--tavla-box-background-color);
        padding: 2rem;
        height: fit-content;

        h2 {
            margin: 0;
            color: var(--tavla-font-color);
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        .eds-switch {
            padding: 0;
        }
    }

    &__set-stops {
        display: flex;
        align-items: flex-start;
        margin-top: 1rem;
    }

    .distance-editor {
        margin-left: 2rem;
        width: auto;
    }

    .stop-place-search {
        flex-grow: 1;
    }

    @media (max-width: 900px) {
        &__set-stops {
            display: block;
        }

        .distance-editor {
            margin: 1rem 0;
        }
    }

    .eds-dropdown__input[value=''] + .eds-form-control__append {
        display: none;
    }
}

.heading {
    color: var(--tavla-font-color);
}
