$heading-font-size: 3.5rem;

.poster {
    display: flex;
    flex-direction: column;
    height: 1920px;
    color: white;

    &--rotated {
        transform: rotate(-90deg) translate(-100vh);
        transform-origin: top left;
        width: 100vh;
        height: 100vw;
    }

    &-content-wrapper {
        height: 100%;
        padding: 0 6rem 0 6rem;
    }

    &-next-bus {
        font-size: $heading-font-size;
        font-weight: 600;
        padding: 2.5rem 0 2.5rem 0;
    }

    &-header {
        display: flex;
        justify-content: flex-end;
        padding: 5rem 5rem 0 0;

        &-logo {
            height: 3.5rem;
        }
    }

    &-heading-wrapper {
        padding: 8rem 0 4rem 0;
    }

    &-heading {
        font-size: 7rem;
        font-weight: 600;
    }

    &-mobility-tiles-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--listed {
            flex-direction: column;
            position: relative;
            top: 8%;
        }
    }
}
