.poster {
    display: flex;
    flex-direction: column;
    height: 1920px;
    color: white;

    &-content-wrapper {
        height: 100%;
        padding: 0 4rem 0 4rem;
    }

    &-next-bus {
        font-size: 2.5rem;
        padding-bottom: 2.5rem;
    }

    &-header {
        display: flex;
        justify-content: flex-end;
        padding: 5rem 5rem 0 0;
    }

    &-heading-wrapper {
        padding: 4rem 0 4rem 0;
    }

    &-heading {
        font-size: 8rem;
    }

    &-mobility-tiles-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--listed {
            flex-direction: column;
        }
    }

    &-mobility-tile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--listed {
            flex-direction: row-reverse;
            padding: 5rem 0 5rem 0;
        }
    }

    &-mobility-description {
        display: flex;
        flex-direction: column;
        margin: 2rem 0 2rem 0;
        width: 26rem;

        &-heading {
            font-size: 3rem;
            margin: 0;
            padding-bottom: 2rem;
        }

        &-area {
            font-size: 2rem;
            line-height: 150%;
            margin: 0;
        }
    }

    &-mobility-vehicles-box {
        display: flex;
        border-radius: 12px;
        background-color: var(--tavla-box-background-color);
        justify-content: space-between;
        align-items: center;
        font-size: 7.8rem;
        height: 13rem;
        width: 28rem;
        padding: 3rem;

        &-overflow {
            display: inline-block;

            span {
                height: 40px;
                display: table-cell;
                vertical-align: middle;
            }

            &-number {
                font-size: 6rem;
            }

            &-symbol {
                font-size: 2rem;
            }
        }
    }
}
