@use '../../../assets/styles/Variables.scss';

.banner {
    background: Variables.$colors-validation-canary;
    width: 100%;
    height: 2.3rem;
    text-align: center;
    margin: 0 auto;
    color: Variables.$colors-brand-blue;
    line-height: 2.3rem;

    &__icon {
        margin-right: 8px;
        top: 5px;
    }

    &__link {
        color: Variables.$colors-brand-blue;
    }
}
