.NeoTile {
    overflow: hidden;
}

.DepartureTable {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;
    border-collapse: collapse;

    & tr {
        border-top: 2px solid var(--tavla-border-color);
    }

    & th {
        border-top: 2px solid var(--tavla-hover-color);
        border-bottom: 2px solid var(--tavla-hover-color);
    }
}
