.NeoTile {
    overflow: hidden;
}

.Heading {
    font-weight: 600;
    font-size: 2.5rem;
}

.DepartureTable {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;
    border-collapse: collapse;

    & td {
        padding: 0.5rem 0;
    }

    & th {
        color: var(--tavla-label-font-color);
        font-size: 1.5rem;
    }
}

.TableHeader {
    border-top: none;
    border-bottom: 2px solid var(--tavla-hover-color);
}

.TableRow {
    border-top: 2px solid var(--tavla-border-color);
}

.RouteNumber {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    color: #fff;
}
