.Wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 40rem;
    background-color: red;
}

.RightPriceTile {
    width: 33%;
    margin-left: 0.5rem;
    background-color: yellow;
    height: fit-content;
}

.LeftTile {
    width: 67%;
    height: 100%;

}

.NewWeatherTile {
    height: auto;
    margin-bottom: 0.5rem;
}

.BikeTile {
    height: auto;
}
