[data-theme='dark'] {
    --main-background-color: var(--colors-misc-black);
    --secondary-background-color: var(--colors-greys-grey);

    --table-border-color: var(--colors-greys-grey10);
    --table-situation-color: var(--colors-validation-canary);
    --table-header-color: var(--colors-greys-grey60);
}
