[data-theme='dark'] {
    --main-background-color: var(--colors-misc-black);
    --secondary-background-color: var(--colors-greys-grey);
    /* --tertiary-background-color not yet defined */

    --table-header-color: var(--colors-greys-grey50);
    --table-border-color: var(--colors-greys-grey10);

    --table-situation-normal-color: var(--colors-validation-canary-contrast);
    --table-situation-information-color: var(--colors-validation-sky-contrast);
    --table-situation-severe-color: var(--colors-validation-lava-contrast);

    --table-estimated-time-color: var(--colors-brand-coral);
}
