[data-theme='dark'] {
    --main-background-color: var(--colors-misc-black);
    --secondary-background-color: var(--colors-greys-grey);
    /* --tertiary-background-color not yet defined */

    --header-column-color: var(--colors-greys-grey50);
    --table-border-color: var(--colors-greys-grey10);
    --table-situation-color: var(--colors-validation-canary);
}
