:root {
    --main-background-color: var(--colors-brand-blue);
    --secondary-background-color: var(--colors-blues-blue10);
    --tertiary-background-color: var(--colors-blues-blue30);
    --main-text-color: var(--colors-brand-white);

    --primary-button-color: var(--colors-data-contrast-lavender);
    --primary-button-hover-color: #b6bee5;

    --primary-lines-grid-color: var(--colors-blues-blue50);
    --scrollbar-color: var(--colors-blues-blue50);

    --table-border-color: var(--colors-blues-blue30);
    --table-situation-color: var(--colors-validation-canary-contrast);

    --table-time-deviation-color: var(--colors-validation-lava-contrast);

    --table-transport-metro-color: var(--colors-transport-contrast-metro);
    --table-transport-bus-color: var(--colors-transport-contrast-bus);
    --table-transport-tram-color: var(--colors-transport-contrast-tram);
    --table-transport-funicular-color: var(
        --colors-transport-contrast-funicular
    );
    --table-transport-cableway-color: var(--colors-transport-contrast-cableway);
    --table-transport-rail-color: var(--colors-transport-contrast-train);
    --table-transport-air-color: var(--colors-transport-contrast-plane);
    --table-transport-coach-color: var(--colors-transport-contrast-bus);
    --table-transport-lift-color: var(--colors-transport-contrast-cableway);
    --table-transport-monorail-color: var(--colors-transport-contrast-tram);
    --table-transport-trolleybus-color: var(--colors-transport-contrast-bus);
    --table-transport-unknown-color: var(--colors-transport-contrast-walk);
    --table-transport-water-color: var(--colors-transport-contrast-ferry);
}
