:root {
    --main-background-color: var(--colors-brand-blue);
    --secondary-background-color: var(--colors-blues-blue10);
    --tertiary-background-color: var(--colors-blues-blue30);

    --main-text-color: var(--colors-brand-white);
    --secondary-text-color: var(--colors-brand-lavender);

    --highlight-text-color: var(--colors-brand-coral);

    --border-color: var(--colors-brand-lavender);

    --table-border-color: var(--colors-blues-blue30);
    --table-header-border-color: var(--colors-blues-blue20);
    --table-situation-color: var(--colors-validation-canary-contrast);

    --pulse-color: #75daad;

    --table-transport-metro-color: var(--colors-transport-contrast-metro);
    --table-transport-bus-color: var(--colors-transport-contrast-bus);
    --table-transport-tram-color: var(--colors-transport-contrast-tram);
    --table-transport-funicular-color: var(
        --colors-transport-contrast-funicular
    );
    --table-transport-cableway-color: var(--colors-transport-contrast-cableway);
    --table-transport-rail-color: var(--colors-transport-contrast-train);
    --table-transport-air-color: var(--colors-transport-contrast-plane);
    --table-transport-coach-color: var(--colors-transport-contrast-bus);
    --table-transport-lift-color: var(--colors-transport-contrast-cableway);
    --table-transport-monorail-color: var(--colors-transport-contrast-tram);
    --table-transport-trolleybus-color: var(--colors-transport-contrast-bus);
    --table-transport-unknown-color: var(--colors-transport-contrast-walk);
    --table-transport-water-color: var(--colors-transport-contrast-ferry);

    /* Datq visualizer colors */
    --data-blue-color: 100, 102, 170;
    --data-coral-color: 255, 89, 89;
    --data-jungle-color: 15, 194, 179;
    --data-azure-color: 100, 178, 251;
    --data-lavender-color: 74, 183, 226;
    --data-peach-color: 255, 191, 158;
    --data-spring-color: 123, 192, 11;
    --data-lilac-color: 234, 139, 234;
}
