@import '../../../assets/styles/import.scss';
@import '../../../variables.scss';

.label {
    color: var(--tavla-label-font-color);
}
.logo-grid {
    padding-bottom: 5rem;
    // The design system overrides this when using contrast, but we still want it.
    .eds-form-control-wrapper--disabled {
        background-color: #e9e9e9;
    }
    .eds-file-upload__wrapper {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 1rem;

        .eds-file-upload__dropzone {
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .eds-form-control {
        color: var(--tavla-input-font-color);
    }

    h3 {
        margin-top: 0;
        line-height: 1;
        margin-bottom: 1.5rem;
    }

    .customUrl {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .errorMessage {
            color: var(--tavla-failure-font-color);
        }

        .succsessMessage {
            color: var(--tavla-succsess-font-color);
        }

        .eds-form-control__prepend {
            color: #888; // This is hardcoded since variable references doesn't seem to work for dark theme
        }
    }

    .eds-form-component--radio__container {
        display: inline-flex;
        vertical-align: top;

        &:not(:first-of-type) {
            margin-left: 1rem;
        }
    }

    .eds-loader {
        max-width: 100%;
    }

    .logo-preview {
        img {
            max-width: 100%;
            display: block;
            border: 0.125rem #d1d3d3 dashed;
        }

        .logo-preview-toolbar {
            display: flex;
            margin-top: 0.4rem;
            margin-bottom: 1rem;
            align-items: center;

            a {
                cursor: pointer;

                &:first-of-type {
                    margin-right: 2rem;
                }
            }

            svg {
                cursor: pointer;
            }
        }
    }

    @media (min-width: 1600px) {
        gap: 8rem;
    }
}

.logo-page {
    &__paragraph {
        color: var(--tavla-font-color);
    }

    .eds-form-control-wrapper {
        --border-color: var(--tavla-input-border-color);
        --border-color-hover: var(--tavla-input-border-hover-color);

        background-color: var(--tavla-input-background-color);

        input::placeholder {
            color: var(--tavla-input-placeholder-color);
        }
    }

    .eds-form-component--radio__container
        .eds-form-component--radio__radio
        .eds-form-component--radio__circle {
        background-color: var(--tavla-checkbox-color);
    }

    .eds-form-component--radio__container .eds-form-component--radio__radio {
        border-color: var(--tavla-checkbox-color);
        background-color: transparent;
    }

    .eds-form-component--radio__container
        :hover
        ~ .eds-form-component--radio__radio {
        border-color: var(--tavla-checkbox-hover-color);
    }

    .eds-form-component--radio__container
        :hover
        ~ .eds-form-component--radio__radio
        .eds-form-component--radio__circle {
        background-color: var(--tavla-checkbox-hover-color);
    }

    .eds-form-control::placeholder {
        color: var(--tavla-input-disabled-font-color);
    }

    .eds-link,
    .eds-link:link,
    .eds-link:visited {
        color: var(--tavla-font-color);
        background-image: linear-gradient(
            120deg,
            var(--tavla-font-color) 0%,
            var(--tavla-font-color) 100%
        );
    }
}
