@import '../../../assets/styles/import.scss';

.logo-grid {
    .eds-file-upload__wrapper {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 1rem;

        .eds-file-upload__dropzone {
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    h3 {
        margin-top: 0;
        line-height: 1;
        margin-bottom: 1.5rem;
    }

    .eds-form-component--radio__container {
        display: inline-flex;
        vertical-align: top;
        
        &:not(:first-of-type) {
            margin-left: 1rem;
        }
    }

    .logo-preview {
        img {
            max-width: 100%;
            display: block;
            border: 0.125rem #d1d3d3 dashed;
        }

        .logo-preview-toolbar {
            display: flex;
            margin-top: 0.3rem;
            justify-content: flex-end;
            align-items: center;
            
            a {
                cursor: pointer;
                margin-right: 2rem;
            }

            svg {
                cursor: pointer;
            }
        }
    }
}