@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.timeline {
    padding: 2rem 4rem;

    .entur-leg-line--direction-horizontal {
        min-width: unset;
    }

    &__stop {
        background-color: var(--tavla-box-background-color);
        width: 100%;
        margin-bottom: 2rem;
        padding: 2rem;
        overflow: hidden;
        border-radius: 1rem;
    }

    &__stop:last-child {
        margin-bottom: 5rem;
    }

    &__header {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        color: var(--tavla-font-color);
    }

    &__walking-time {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: var(--tavla-font-color);
    }

    &__track {
        height: 6rem;
        position: relative;
    }

    &__line {
        display: flex;
        justify-content: flex-end;
    }

    &__leg-bone {
        margin-right: 0.125rem;

        > * {
            min-width: unset;
        }
    }

    &__competitor {
        position: absolute;
        text-align: center;
        transition: 1s all;
        bottom: 0;

        svg {
            animation: pulse 2s;
            animation-iteration-count: infinite;
        }
    }

    &__label {
        background-color: white;
        padding: 4px;
        color: black;
        border-radius: 1px;
        height: 2rem;
        margin-bottom: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: $shadows-card-shadow;

        &::after {
            content: '';
            display: block;
            background-color: white;
            position: absolute;
            height: 10px;
            width: 10px;
            transform: rotate(45deg);
            top: 26px;
            left: calc(50% - 5px);
        }
    }

    &__tick {
        margin-top: 5px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 1000px) {
    .timeline {
        padding: 1rem;
        overflow: hidden;

        &__stop:last-child {
            margin-bottom: 6rem;
        }
    }
}
