.Tile {
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    overflow: scroll;
    border-radius: 1rem;
    background-color: var(--tavla-box-background-color);
    color: var(--tavla-font-color);
}
