.Neo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	min-height: 0;
	gap: 1rem;
	flex: 1 0 0;
}

.NeoWrapper {
	height: 100vh;
	background-color: rgb(110, 99, 79);
	display: flex;
	flex-direction: column;
}