@import '../../../assets/styles/import.scss';

.stop-place-panel {
    width: 400px;
    background-color: $colors-blues-blue10;
    overflow: auto;
    padding: 1rem 2rem;
    margin-top: 2rem;

    &__header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    &__row {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;

        &__header {
            display: flex;
            flex-direction: row;

            > span {
                font-size: 1rem;
                font-weight: 500;
                margin-left: 1rem;
            }
        }

        &__checkbox {
            margin: 0.75rem 1rem 0 0;
        }

        &__expandable {
            flex: 1;

            > .entur-expandable__content {
                padding: 1rem 0;
            }
        }

        &__item-button {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__route-checkbox {
        margin-bottom: 0.5rem;

        > label {
            color: white;
        }
    }

    &__route {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.5rem;

        .eds-checkbox__label {
            color: white;
            display: flex;
            align-items: center;

            svg {
                margin-right: 0.5rem;
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 1000px) {
    .stop-place-panel {
        width: unset;
        margin-top: 0;
    }
}
