@import '../../assets/styles/import.scss';

.busStop {
    &__tiles {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        .tile {
            margin-right: 2rem;
            margin-bottom: 2rem;
            max-height: 75vh;
            overflow-y: hidden;
            border-radius: 1rem;
        }
    }
    &__mapTile {
        height: 75vh;
        overflow: hidden;
        border-radius: 1rem;
        z-index: 1;
    }
    .eds-table {
        &__head {
            justify-content: stretch;
        }
        &__header-cell {
            align-content: center;
        }
    }
}

@media (max-width: 1000px) {
    .busStop {
        padding: 1rem 1rem 6rem;
        overflow: auto;

        &__tiles {
            display: block;
        }

        .tile {
            margin-bottom: 1rem;
            max-height: 60vh;
            width: 100%;
            overflow-y: scroll;
        }
        &__mapTile {
            max-height: 60vh;
            margin-bottom: 1rem;
        }
        .eds-table--small {
            .eds-table__data-cell {
                padding: 0;
                justify-content: left;
            }
        }
    }
}
