.aimedDepartureTime {
    text-align: right;
    font-size: 0.5625em;
    text-decoration: line-through;
}

.expectedDepartureTime {
    text-align: right;
    font-weight: 600;
    color: var(--table-estimated-time-color);
}
