.login {
    text-align: center;
}

.actions {
    display: flex;
    width: 100%;
    flex-flow: row-reverse;
    justify-content: space-between;
}

.image {
    width: 50%;
    height: 50%;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
