@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.back-button {
    background-color: var(--tavla-background-color);
    border: none;
    color: $colors-brand-coral;
    cursor: pointer;
    padding: 1rem;
    font-size: 2rem;

    &:hover {
        color: lighten($colors-brand-coral, 10%);
    }
}
