@import '../../assets/styles/import.scss';

.back-button {
    background-color: $colors-brand-blue;
    border: none;
    color: $colors-brand-coral;
    cursor: pointer;
    padding: 1rem;

    &:hover {
        color: lighten($colors-brand-coral, 10%);
    }
}
