@import '../../assets/styles/import.scss';

.back-button {
    background-color: $blue;
    border: none;
    color: $coral;
    cursor: pointer;
    padding: 1rem;

    &:hover {
        color: lighten($coral, 10%);
    }
}
