@use '../../../assets/styles/Variables.scss';

.typography-carousel {
    font-size: 2.5rem;
    margin-bottom: 7rem;
    overflow: hidden;

    &__quote {
        opacity: 0;
        position: absolute;
        transform: translateY(-4rem);
        transition: opacity 0.5s ease-in, transform 0.75s ease-in;

        &--active {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.5s ease-in 1s, transform 0.75s ease-in 0.75s;
        }

        &--active-out {
            transform: translateY(4rem);
        }

        &:nth-child(1) {
            color: Variables.$colors-brand-peach;
            font-style: italic;
            font-weight: 400;
        }

        &:nth-child(2) {
            color: Variables.$colors-brand-lavender;
        }

        &:nth-child(3) {
            color: Variables.$colors-brand-coral;
            font-weight: 400;
        }

        &:nth-child(4) {
            color: Variables.$colors-brand-peach;
            font-style: italic;
            font-weight: 400;
        }

        &:nth-child(5) {
            color: Variables.$colors-brand-lavender;
        }
    }
}

@media (max-width: Variables.$breakpoints-large) {
    .typography-carousel {
        margin-bottom: 3rem;
    }
}
