.landingPage {
    background-color: var(--colors-brand-white);
    color: var(--colors-misc-black);
}

.headerHighlight {
    font-style: italic;
    font-weight: 400;
    color: var(--colors-brand-coral);
    padding: 0;
}

.preview {
    height: 60vh;
    width: 50%;
    overflow-y: hidden;
    border-radius: 1em;
}
