.toggle-detail-panel {
    &__container {
        width: 100%;
        height: 100%;
    }

    &__buttons {
        display: inline-block;
        padding-right: 0.5rem;
        margin-top: 0.8rem;
    }

    .eds-filter-chip:not(:first-child) {
        margin-top: 0.8rem;
        padding-left: 0.8rem;
    }

    .eds-chip {
        background-color: var(--tavla-border-color);
    }

    .eds-filter-chip__icon {
        background-color: var(--tavla-background-color);
    }

    @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;

        .eds-filter-chip:not(:first-child) {
            margin-left: 0;
            margin-top: 0.75rem;
            margin-bottom: 0;
        }
    }
}
