@use 'src/assets/styles/Variables.scss';

.TimelineDashboard {
    user-select: none;
}

@media (max-width: Variables.$breakpoints-large) {
    .TimelineDashboard {
        padding: 1rem;
        overflow: hidden;
    }
}
