@import '../../assets/styles/import.scss';

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $space-medium 4rem;

    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style-type: none;

        a {
            display: flex;
            justify-content: center;

            &::after {
                display: none;
            }
        }

        svg {
            margin-left: 0.5rem;
        }
    }
}

@media (max-width: $breakpoints-large) {
    .navbar {
        padding: $space-small $space-medium;

        li a {
            padding: 0;
            min-width: unset;
            margin-left: 1rem;
        }

        li span {
            display: none;
        }

        li svg {
            margin: 0;
            font-size: 1.5rem;
        }
    }
}
