.TileHeader {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.Heading {
    margin: 0;
}

.Icons {
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
