.logo {
    height: auto;
    width: 7em;
}

.tagText {
    font-size: 0.5em;
    color: var(--main-text-color);
    width: fit-content;
}
.logoWrapper {
    display: block;
    width: 50%;
}
.headerWrapper {
    display: flex;
    flex-direction: row;
}
.clockWrapper {
    width: 50%;
    display: inline-block;
    text-align: right;
}
