.logo {
    height: auto;
    width: 7em;
}

.tagText {
    font-size: 0.5em;
    color: var(--main-text-color);
    width: fit-content;
    margin-bottom: 0;
    margin-top: 0;
}
.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}
