.logo {
    height: auto;
    width: 7em;
}

.clock {
    font-size: 1.5625em;
}

.tagText {
    font-size: 0.5em;
    color: var(--main-text-color);
    margin: 0;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
