@import '../../../assets/styles/import.scss';
@import '../../../variables.scss';

.display-wrapper {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
}

.heading {
    color: var(--tavla-font-color);
}

@media (max-width: 450px) {
    .display-wrapper {
        width: 100%;
        display: grid;
        box-sizing: border-box;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }
}
