.situation {
    font-size: 0.65em;
    display: flex;
    align-items: center;
}

.situationText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.validation {
    display: flex;
    align-items: center;
    margin-right: 0.1em;
    font-size: 1.8em;
}
