.situation {
    color: var(--table-situation-color);
    font-size: 0.875em;
    display: flex;
    align-items: center;
    white-space: normal;
}

.situationText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 2.5em;
}

.validation {
    fill: var(--table-situation-color);
    display: flex;
    align-items: center;
    margin-right: 0.1em;
    font-size: 1.8em;
}
