.situation {
    color: var(--table-situation-color);
    font-size: 0.5em;
    display: flex;
    align-items: center;
}

.situationText {
    overflow: hidden;
    text-overflow: ellipsis;
}

.validation {
    fill: var(--table-situation-color);
    display: flex;
    align-items: center;
    margin-right: 0.1em;
    font-size: 1.8em;
}
