@use '../../../../assets/styles/Variables.scss';

.Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 0.2rem;
}

.FirstRow {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
    width: 100%;
}

.SecondRow {
    white-space: nowrap;
}

.FrontText {
    margin-left: 0.8rem;
    font-size: Variables.$font-sizes-large;
    white-space: nowrap;
}
