@import '../../assets/styles/import.scss';

.mine-tavler-modal.eds-modal__content {
    padding: 0.8rem 1.5rem 1.5rem;
    p {
        padding: 1rem 1rem 0;
        color: $colors-brand-blue;
        text-align: center;
        margin: 0;
    }

    h2,
    h3 {
        text-align: center;
    }

    .eds-modal__overlay {
        background: var(--tavla-modal-overlay-color);
    }

    .eds-grid__container {
        padding: 10%;
    }

    img {
        width: 45%;
        margin: 0 auto;
    }

    a {
        cursor: pointer;
        margin-bottom: 3rem;
    }

    .centered {
        display: flex;
        justify-content: center;
    }
}
