@import '../../../assets/styles/import.scss';
@import '../../../variables.scss';

.weathertile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $space-extra-large2;
    flex-wrap: nowrap;
    overflow: hidden;

    &__weatherData {
        align-items: center;
        display: flex;
        font-size: $font-sizes-extra-large4;

        svg {
            margin-right: 0.2rem;
        }

        &--color-red {
            color: #ff5959;
        }

        &--color-blue {
            color: #64b3e7;
        }
    }

    &--subscript {
        margin-bottom: -0.6rem;
        margin-left: 0.2rem;
        font-size: $font-sizes-large;
    }

    @media (max-width: 1060px) {
        justify-content: space-evenly;
    }
}
