@import '../../../assets/styles/import.scss';
@import '../../../variables.scss';

.weather-tile {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: flex-end;

    &__weather-icon {
        margin-right: 15px;
        margin-bottom: -0.6rem;
    }

    &__icon-and-temperature {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    &__weather-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $font-sizes-large;
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }

        &__temperature {
            display: flex;
            flex-direction: column;
            font-size: 3rem;
            margin-right: 2.5rem;
        }

        &__description {
            padding-top: $space-small;
            font-size: $font-sizes-extra-large;
        }

        &__value {
            padding-top: $space-small;
            font-size: $font-sizes-medium;
        }
        svg {
            margin-right: 0.2rem;
        }

        &--color-red {
            color: $colors-brand-coral;
        }

        &--color-blue {
            color: $colors-validation-sky-contrast;
        }
    }

    @media (max-width: 1060px) {
        justify-content: space-evenly;
    }
}
