.situation {
  color: #aeb7e2;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.situationText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.validation {
  fill: #ffe082;
  min-width: fit-content;
}
