.situation {
  color: var(--table-situation);
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.situationText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.validation {
  fill: var(--table-situation);
  min-width: fit-content;
}
