.pulse {
    position: relative;
    height: 100%;
    width: 100%;
}

.dot {
    position: absolute;
    background: var(--pulse-color);
    border-radius: 40px;
    width: 0.525em;
    height: 0.525em;
    left: calc(50% - (0.525em / 2));
    bottom: calc(50% - (0.525em / 2));
}

.heartbeat {
    position: absolute;
    background-color: var(--pulse-color);
    border-radius: 40px;
    width: 0.525em;
    height: 0.525em;
    left: calc(50% - (0.525em / 2));
    bottom: calc(50% - (0.525em / 2));
    opacity: 0.75;
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
