.dot {
    position: relative;
    width: fit-content;
    background: var(--pulse-color);
    border-radius: 40px;
    width: 0.525em;
    height: 0.525em;
}

.heartbeat {
    position: absolute;
    width: fit-content;
    background-color: var(--pulse-color);
    border-radius: 40px;
    width: 0.525em;
    height: 0.525em;
    opacity: 0.75;
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
