.pulse {
    position: relative;
    height: 100%;
    width: 100%;
}

.dot,
.heartbeat {
    position: absolute;
    background: var(--success-color);
    border-radius: 50%;
    width: 0.75em;
    height: 0.75em;
    left: calc(50% - (0.75em / 2));
    bottom: calc(50% - (0.75em / 2));
}

.heartbeat {
    animation: ping 8s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    0%,
    75% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
