.tile {
  height: 100%;
  width: 100%;
  background-color: #292b6a;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.tileTable {
  margin-top: 1rem;
}

.tableRow {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border-bottom: 2px solid black;
  padding: 0.25rem 0;
}

.tableRow:first-child {
  border-bottom: 4px solid black;
}
