.tile {
  height: 100%;
  width: 100%;
  background-color: #292b6a;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.tileTable {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.tableRow {
  display: contents;
}
