@import '../../../../assets/styles/import.scss';
@import '../../../../variables.scss';
@import '~@entur/table/dist/styles.css';

.busStop .tilerow__sublabel {
    &__cancellation {
        background-color: $colors-brand-white;
        border-radius: 0.5rem;
        height: 0.875rem;
        overflow: visible;
        width: 0.875rem;
    }
}
