@use '../../../../assets/styles/Variables.scss';

.busStop .tilerow__sublabel {
    &__cancellation {
        background-color: Variables.$colors-brand-white;
        border-radius: 0.5rem;
        height: 0.875rem;
        overflow: visible;
        width: 0.875rem;
    }
}
