@import '../../../assets/styles/import.scss';

.bottom-menu {
    position: relative;
    min-height: 6.4rem;
    width: fit-content;
    background-color: #393d79;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease-out;
    transform: translate(0, 0);
    z-index: 5;

    &__actions {
        display: flex;
    }
}

.bottom-menu:first-child {
    padding-left: 2rem;
}

.bottom-menu:last-child {
    padding-right: 2rem;
}

.hidden-menu {
    transition: transform 0.3s ease-in;
    transform: translate(0, 100%);
}

@media (max-width: 900px) {
    .bottom-menu {
        position: relative;
        display: flex;
        flex-direction: row wrap;
        justify-content: space-evenly;
        align-items: center;
        min-height: 5em;
        width: 100%;
        border-radius: 0 0 0 0;
    }
}
