@import '../../../assets/styles/import.scss';

.bottom-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    min-height: 6.4rem;
    width: 40rem;
    bottom: 0;
    background-color: #393d79;
    border-radius: 10px 10px 0 0;
    z-index: 5;

    &__actions {
        display: flex;
    }
}

@media (max-width: 900px) {
    .bottom-menu {
        position: fixed;
        height: 5em;
        width: 100%;
        border-radius: 0 0 0 0;
    }
}
