.tableRow {
    display: flex;
    flex: 1;
    padding: 0.25em 0;
    align-items: center;
    border-top: 1px solid var(--table-border-color);
}

.tableCell {
    width: 100%;
    margin-right: 0.25em;
    margin-left: 0.25em;
}
