@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4rem 1rem 4rem;
    padding-top: 2rem;
    overflow: hidden;

    &__logo-wrapper {
        &__description {
            margin-bottom: 0;
            margin-top: 0.75rem;
            font-size: 1.25rem;
            color: var(--tavla-font-color);
            display: block;
        }

        &__logo {
            height: 2rem;
        }
    }

    &__clock {
        &__date {
            margin-top: 0.75rem;
            font-size: 1.25rem;
            display: block;
        }
    }

    &__resources {
        display: flex;
        justify-content: flex-end;
        width: fit-content;

        &__item {
            cursor: pointer;
            padding-left: 3rem;
            vertical-align: middle;
            float: right;

            &__text,
            a,
            a:visited {
                font-size: 1rem;
                color: var(--tavla-font-color);
                text-decoration: none;
                margin: 0;
                padding-right: 0.5rem;
                display: inline;
                vertical-align: middle;
            }

            &__icon {
                color: var(--tavla-font-color);
                vertical-align: middle;
            }
        }
    }

    @media (max-width: 900px) {
        margin: 0 1rem 1rem 1rem;
        &__clock {
            display: none;
        }

        &__logo-wrapper {
            &__logo {
                height: 1.5rem;
            }
        }

        &__resources {
            width: 10rem;

            &__item {
                padding-left: 2.5rem;
            }

            &__item__text {
                display: none;
            }
        }
    }
}
