.header {
  display: flex;
  height: 15%;
  font-size: 2.5rem;
  font-weight: 500;
  justify-content: space-between;
  margin-top: 20px;
}

.header-date {
	height: 56px;
	width: 360px;
	color: #9BA4D2;
	font-family: Nationale;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-align: right;
}

.header-time {
	height: 36px;
	color: #FFFFFF;
	font-family: Nationale;
	font-size: 34px;
	font-weight: 600;
	line-height: 36px;
    margin-bottom: 10px;
}

@media (max-width: 480px) {
  .header-time {
    display: none;
  }

  .header-date {
      display: none;
  }

  .header {
    position: fixed;
    background-color: #1a1a1a;
    width: 100%;
    top: 0;
    align-items: center;
  }
}
