@import '../../assets/styles/import.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
    overflow: hidden;

    &__logo {
        display: block;
        height: 2rem;
    }

    &__logo-wrapper {
        &__description {
            margin-bottom: 0;
        }
    }

    &__resources {
        display: flex;
        justify-content: space-between;
        width: 25rem;

        &__icon {
            cursor: pointer;
            flex: 1 0 auto;
            width: fit-content;

            &__text {
                font-size: 1rem;
                padding-right: 0.5rem;
                margin: 0;
                display: inline;
                vertical-align: middle;
            }

            a {
                color: $colors-brand-lavender;
                vertical-align: middle;
            }
        }
    }

    @media (max-width: 900px) {
        &__clock {
            display: none;
        }

        &__logo {
            height: 1.5rem;
        }

        &__resources {
            width: 10rem;

            &__icon__text {
                display: none;
            }
        }
    }
}
