.DS_Store

.env.local
entur-tavla-staging-firebase-adminsdk.json
entur-tavla-prod-firebase-adminsdk.json

node_modules/
**/.firebase

.vscode/
.next/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

cypress/videos
cypress/screenshots
