.root {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin: 0 5em;
}

.pageContainer {
    margin: 0 auto;
}

.organization {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8em;
}

.landingPage {
    background-color: var(--colors-brand-white);
    color: var(--colors-misc-black);
}

.landingContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 4em;
}

.headerHighlight {
    font-style: italic;
    font-weight: 400;
    color: var(--colors-brand-coral);
    padding: 0;
}

.landingHeader {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 100%;
}

.landingInfo {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
}

.preview {
    height: 60vh;
    width: 50%;
    overflow-y: hidden;
    border-radius: 1em;
}

.content {
    width: 50%;
}

@media (max-width: 1200px) {
    .info {
        flex-direction: column;
        height: auto;
    }

    .content,
    .preview {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .landingInfo {
        width: 1200px;
    }
    .landingHeader {
        width: 1200px;
    }
}
