.root {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin: 0 5em;
}

.pageContainer {
    margin: 0 auto;
    max-width: 120rem;
}

.organization {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8em;
}

.landingPage {
    background-color: var(--colors-brand-white);
    color: var(--colors-misc-black);
}

.landingContent {
    display: flex;
    flex-direction: column;
}

.headerHighlight {
    font-style: italic;
    font-weight: 400;
    color: var(--colors-brand-coral);
    padding: 0;
}

.landingHeader {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 2em;
    padding-left: 8em;
}

.previewContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.preview {
    height: 60vh;
    overflow: hidden;
    border-radius: 1em;
}

.content {
    width: 50%;
}

@media (max-width: 1200px) {
    .previewContainer {
        flex-direction: column;
        height: auto;
    }

    .content {
        width: 100%;
    }
}
