.FontSizePreview {
    border-radius: 1rem;
    background-color: var(--tavla-box-background-color);
    flex: none;
    padding: 2rem;
    overflow: scroll;
    width: fit-content;
    max-width: 100%;
}

.TileRow {
    display: flex;
    border-bottom: 2px solid var(--tavla-border-color);
    border-top: 2px solid var(--tavla-border-color);
    padding: 1em 0;
    line-height: normal;
}

.Label {
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.Icon {
    margin-right: 1rem;
    font-size: 2em;
}

.Texts {
    flex-direction: column;
    overflow-x: scroll;
    white-space: nowrap;
}

.PlatformInfo {
    color: var(--tavla-label-font-color);
    margin-bottom: 0.5em;
}

.Sublabels {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 1.25em;
}

.Sublabel {
    align-items: center;
    display: flex;
    font-weight: 400;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &:first-child {
        padding-left: 0;
    }
}

.IntroductoryText {
    margin-top: 2rem;
    color: var(--tavla-label-font-color);
}
