.NewDayTableRow {
    border-bottom: none;
    text-transform: capitalize;
    width: max-content;
    white-space: nowrap;
    // Important used to overwrite Entur design system
    border-color: var(--tavla-border-color) !important;
}
