@import '../../styles/import.scss';

.logo-container {
    height: 100px;
    width: 400px;

    &--logo {
        float: left;
        margin-left: 24px;
    }

    &--text {
        width: 360px;
        color: $white;
        font-size: 14px;
        height: 20px;
        font-weight: 500;
        padding-right: 46px;
    }
}

@media (max-width: 480px) {
    .logo-container {
        align-items: center;
        padding-left: 8px;
    }

    .logo-container--logo {
        margin-left: 10px;
    }
}
