.Wrapper {
    padding: 1rem;
    width: fit-content;
    background-color: white;
    border-radius: 1.5rem;
    line-height: 0;
}

.QRCodeApp {
    display: block;
    height: inherit;
    width: inherit;
    color: var(--tavla-background-color);
}
