.Tile {
    padding: 2rem;
    gap: 1rem;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}
