@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.clock {
    text-align: right;

    &__time {
        line-height: 2rem;
    }

    &__date {
        margin-bottom: 0;
    }
}
