@import '../../assets/styles/import.scss';

.clock {
    text-align: right;

    &__time {
        height: 36px;
        color: $white;
        font-family: $base-font-family;
        font-size: 34px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 10px;
    }

    &__date {
        color: $colors-brand-lavender;
        font-family: $base-font-family;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
    }
}
