.tableRow {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr 2fr;
    padding: 1rem 0;
    border-bottom: var(--colors-blues-blue20) solid;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
}
