.contentRow {
    padding: 1rem 0;
    border-bottom: var(--colors-blues-blue20) solid;
}

.dataCell {
    display: flex;
    align-items: center;
}

.options {
    justify-content: space-evenly;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
}
