.container {
    height: 100%;
    overflow: hidden;
}

.header {
    text-align: left;
    font-size: 0.7em;
    color: var(--table-header-color);
    padding-bottom: 0.4em;
}

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.2em;
}

.row {
    border-bottom: 2px solid var(--table-border-color);
}

.row th:last-child,
.row td:last-child {
    text-align: right;
}

.tableRow {
    display: flex;
    align-items: center;
    height: 3em;
    border-top: 1px solid var(--table-border-color);
}

.tableColumn {
    display: flex;
    flex-direction: column;
}

.tableHeader {
    color: var(--table-header-color);
    font-size: 0.7em;
    padding-bottom: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.tableCell {
    margin-right: 0.25em;
    margin-left: 0.25em;
}

.aimedDepartureTime {
    font-size: 0.5625em;
    text-decoration: line-through;
}

.expectedDepartureTime {
    font-weight: 600;
    color: var(--table-estimated-time-color);
}
