.container {
    height: 100%;
    overflow: hidden;
}

.header {
    text-align: left;
    font-size: 0.7em;
    color: var(--table-header-color);
    padding-bottom: 0.4em;
}

.table {
    max-height: 100%;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.25em 0;
}

.row {
    border-bottom: 2px solid var(--table-border-color);
}

.row th:last-child,
.row td:last-child {
    text-align: right;
}
