.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    gap: 24em;

    padding: 7em;
    padding-top: 5em;
    display: flex;
    align-items: center;
    box-sizing: inherit;
    justify-content: center;
}

.illustrationImage {
    width: 100%;
    height: auto;
}

.highlightText {
    color: var(--brand-coral);
}

.button {
    white-space: nowrap;

    margin-top: 4em;
    padding: 2em 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    padding: 7em;

    background-color: white;
    display: flex;
    height: 100%;
    gap: 4em;
    justify-content: center;
}

.img {
    margin-left: 8em;
}

.bottomText {
    margin-right: 7em;
}

.list {
    color: var(--main-background-color);
    margin-left: 2em;
}

.text {
    color: var(--main-background-color);
}
