.linesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.transportTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    border-bottom: 2px solid var(--tertiary-background-color);
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

.publicCode {
    background-color: var(--tertiary-background-color);
    padding: 0.35em 0.5em;
    border-radius: 0.5em;
}
