@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.weather-tile {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 150px;

    &__icon-and-temperature {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;

        &__weather-icon {
            margin-bottom: -0.6rem;
        }
    }

    &__weather-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $font-sizes-large;
        margin-right: $space-large;

        &:nth-child(2) {
            margin-left: $space-extra-large3;
        }

        &:last-child {
            margin-right: 0;
        }

        &__temperature-and-description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 15px;

            &__temperature {
                font-size: 3rem;
            }

            &__description {
                padding-top: $space-small;
                font-size: $font-sizes-extra-large;
                white-space: nowrap;
            }
        }

        &__value {
            padding-top: $space-small;
            font-size: $font-sizes-medium;
            white-space: nowrap;
        }

        &--color-red {
            color: $colors-brand-coral;
        }

        &--color-blue {
            color: $colors-validation-sky-contrast;
        }
    }
}

.icon {
    position: relative;
    display: inline-block;
    padding-top: 0.5rem;
    width: 12em;
    height: 10em;
    font-size: 0.25em; /* control icon size here */

    &:active {
        pointer-events: none;
    }
}

.icon-entur {
    position: relative;
    display: inline-block;
    font-size: 5.5rem;

    &:active {
        pointer-events: none;
    }

    &--sun {
        animation: spin 30s linear infinite;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
