@use '../../assets/styles/Variables.scss';

.weather-tile {
    display: flex;
    flex-wrap: wrap;
    gap: 0 Variables.$space-extra-large3;
    justify-content: center;
    overflow: auto !important;
    align-items: center;
    padding: Variables.$space-medium !important;
    min-height: 150px;
    z-index: 3;

    &__icon-and-temperature {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;

        &__temperature-and-description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 15px;

            &:first-child {
                margin-top: 1.1rem;
            }

            &__temperature {
                font-size: 3rem;
            }

            &__description {
                padding-top: Variables.$space-small;
                font-size: Variables.$font-sizes-extra-large;
                white-space: nowrap;
            }
        }
    }

    &__weather-data-container {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
        padding-top: Variables.$space-extra-large;

        &:first-child {
            padding-top: Variables.$space-extra-small;
        }

        &__weather-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: Variables.$font-sizes-large;
            margin-right: Variables.$space-large;

            &:last-child {
                margin-right: 0;
            }

            &__value {
                padding-top: Variables.$space-small;
                font-size: Variables.$font-sizes-medium;
                white-space: nowrap;
            }

            &--color-red {
                color: Variables.$colors-brand-coral;
            }

            &--color-blue {
                color: Variables.$colors-validation-sky-contrast;
            }
        }
    }
}

.icon-entur {
    position: relative;
    font-size: 5.5rem;

    &:active {
        pointer-events: none;
    }

    &--sun {
        animation: spin 30s linear infinite;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
