body {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    font-family: Nationale, Arial, Gotham Rounded, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        Helvetica Neue, sans-serif;
    min-height: 100vh;
}

html {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.eds-h1 {
    font-size: 2rem;
}

h3 {
    font-weight: 500;
}

.grid {
    display: grid;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.flexWrap {
    flex-wrap: wrap;
}

.alignCenter {
    align-items: center;
}

.justifyCenter {
    justify-items: center;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyAround {
    justify-content: space-around;
}

.justifyBetween {
    justify-content: space-between;
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.weight100 {
    font-weight: 100;
}

.weight200 {
    font-weight: 200;
}

.weight300 {
    font-weight: 300;
}

.weight400 {
    font-weight: 400;
}

.weight500 {
    font-weight: 500;
}

.weight600 {
    font-weight: 600;
}

.weight700 {
    font-weight: 700;
}

.weight800 {
    font-weight: 800;
}

.weight900 {
    font-weight: 900;
}

.cursorPointer {
    cursor: pointer;
}

.cursorHelp {
    cursor: help;
}

.cursorGrab {
    cursor: grab;
}

.cursorMove {
    cursor: move;
}

.positionRelative {
    position: relative;
}

.positionAbsolute {
    position: absolute;
}

.positionFixed {
    position: fixed;
}

.positionStatic {
    position: static;
}

.positionSticky {
    position: sticky;
}

.text-rem-1 {
    font-size: 0.5rem;
}

.text-rem-2 {
    font-size: 1rem;
}

.text-rem-3 {
    font-size: 1.5rem;
}

.text-rem-4 {
    font-size: 2rem;
}

.text-em-1 {
    font-size: 0.5em;
}

.text-em-2 {
    font-size: 1em;
}

.text-em-3 {
    font-size: 1.5em;
}

.text-em-4 {
    font-size: 2em;
}
