body {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    font-family: Nationale, Arial, Gotham Rounded, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        Helvetica Neue, sans-serif;
    min-height: 100vh;
}

html {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.eds-h1 {
    font-size: 2rem;
}

h3 {
    font-weight: 500;
}

button {
    display: flex;
    padding: 1em;
    gap: 1em;
    align-items: center;
    border-radius: 0.25em;
    font: inherit;
    color: var(--main-text-color);
    border: 0;
    cursor: pointer;
}

a {
    display: flex;
    padding: 1em;
    align-items: center;
    border-radius: 0.25em;
    font: inherit;
    border: 0;
    cursor: pointer;
}

.primaryButton {
    background-color: var(--main-background-color);
}

.primaryButton:hover {
    background-color: var(--secondary-background-color);
}

.secondaryButton {
    background-color: var(--secondary-background-color);
}

.secondaryButton:hover {
    background-color: var(--tertiary-background-color);
}
