.cursorPointer {
    cursor: pointer;
}

.cursorHelp {
    cursor: help;
}

.cursorGrab {
    cursor: grab;
}

.cursorMove {
    cursor: move;
}

.hidden {
    overflow: hidden;
}

.absolute {
    position: absolute;
}
