.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexRowReverse {
    display: flex;
    flex-direction: row-reverse;
}

.grid {
    display: grid;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.flexWrap {
    flex-wrap: wrap;
}

.alignCenter {
    align-items: center;
}

.justifyCenter {
    justify-content: center;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyAround {
    justify-content: space-around;
}

.justifyBetween {
    justify-content: space-between;
}

.positionRelative {
    position: relative;
}

.positionAbsolute {
    position: absolute;
}

.positionFixed {
    position: fixed;
}

.positionStatic {
    position: static;
}

.positionSticky {
    position: sticky;
}
