*,
*::before,
*::after {
    box-sizing: inherit;
    font-weight: inherit;
}

body,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
    overflow-x: unset;
    overflow-y: unset;
    box-sizing: border-box;
}

li,
ul {
    margin: 0;
    padding: 0;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

a.eds-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
}

a.eds-button > .eds-icon {
    top: 0;
}

.eds-h2,
.eds-h5 {
    margin: 0;
}

.eds-contrast .eds-dropdown__selected-items-and-input .eds-chip {
    background: #ebebf1;
    border: 0.0625rem solid #d1d4e3;
    color: #181c56;
}

.eds-contrast .eds-expandable-panel__trigger {
    background: var(--secondary-background-color);
}
