.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vmin, 1fr));
  gap: 10px;
  height: 100%;
  overflow: hidden;
  color: var(--main-font-color);
}

@supports not (display: grid) {
  .board {
    display: flex;
  }
}
