.BusStopTile {
    max-height: 80vh;
    margin-bottom: 4rem;
}

.TileHeader {
    padding-bottom: 2rem;
}

.TableHead {
    border-bottom: none;
}

// Triple selector to overwrite Entur component
.Cell.Cell.Cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--tavla-font-color);
}

.Cell:last-child {
    width: 100%;
}
