.available-vehicles-box-bus {
    border-radius: 12px;
    background-color: var(--tavla-box-background-color);
    justify-content: space-between;
    align-items: center;
    font-size: 8rem;
    width: 90%;
    display: inline-block;
    height: 23%;
    margin-bottom: 10%;
    width: '90%';
    display: 'inline-block';
    padding: '1rem';

    &-overflow {
        display: inline-block;

        span {
            height: 40px;
            display: table-cell;
            vertical-align: middle;
        }

        &-number {
            font-size: 6rem;
        }

        &-symbol {
            font-size: 2rem;
        }
    }
}

.poster-busline-row {
    margin: 1rem;
    display: flex;
}

.poster-busline-number-box {
    background-color: #c5044e;
    border-radius: 10px;
    width: 12rem;
    height: 4.5rem;
}

.poster-busline-time {
    font-size: 2.5rem;
    margin: 1.5rem;
    margin-left: auto;
    font-weight: bold;
}

.poster-busline-stop-place {
    font-size: 2.5rem;
    margin: 1.5rem;
}

.poster-busline-number {
    font-size: 2rem;
    float: right;
    margin: 1.5rem;
}
.poster-next-bus-wrapper{
    margin-bottom: '2rem';
    font-size: '2.5rem' 
}

.poster-next-bus{
    font-size: 2.5rem;
}