@use '../../../../assets/styles/Variables.scss';

.poster-bus-tile {
    border-radius: 12px;
    background-color: Variables.$colors-blues-blue20;
    justify-content: space-between;
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem 1.5rem 2rem;
    line-height: 1.2;

    &-row {
        margin: 0.5rem 0 0.5rem 0;
        display: flex;
    }

    &-route {
        display: flex;
        align-items: center;
        background-color: #c5044e;
        border-radius: 10px;
        padding: 0 1rem 0 0.5rem;
    }

    &-icon {
        font-size: 4rem;
        display: inline-block;
        color: inherit;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

    &-destination {
        margin: auto auto auto 1.5rem;
        white-space: nowrap;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }

    &-time {
        margin: auto 0 auto auto;
        font-weight: bold;
    }
}
