.checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    box-shadow: 0 0 0 3px #FF5959;
  }

  & + label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: inherit;
  }

  &[value='true'] + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: #FF5959;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 #FF5959,
      4px 0 0 #FF5959,
      4px -2px 0 #FF5959,
      4px -4px 0 #FF5959,
      4px -6px 0 #FF5959,
      4px -8px 0 #FF5959;
    transform: rotate(45deg);
  }
}
