.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: var(--secondary-background-color);
    border-radius: 0.5em;
    padding: 1em 3em;
}
