.boards {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 100%;
    gap: 3em;
}

.header {
    display: flex;
    justify-content: space-between;
}

.boardTable {
    display: grid;
    align-items: center;
}

.actionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
