.tooltip {
    background-color: var(--colors-brand-white);
    color: var(--colors-misc-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    padding: 0.5em;
    text-align: center;
    min-height: 1rem;
    min-width: 2rem;
    max-width: 32rem;
    z-index: 1000;
}
