@import '../../../../assets/styles/import.scss';
@import '../../../../variables.scss';

.chrono .tilerows {
    border-bottom: 2px solid var(--tavla-border-color);
    padding: 1rem;

    &__icon {
        min-width: 2rem;
        margin-right: 1rem;
        font-size: 2rem;
    }

    &__label {
        margin: 0;
        padding-right: 0.25rem;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .eds-table__data-cell {
        vertical-align: middle;
    }

    &__sublabel {
        align-items: center;
        display: flex;
        font-size: $font-sizes-extra-large2;
        font-weight: $font-weights-body;
        margin: 0;
        min-width: 5rem;
        text-align: right;

        &__cancellation {
            align-items: center;
            background-color: $colors-brand-white;
            border-radius: 0.5rem;
            display: flex;
            height: 0.875rem;
            justify-content: center;
            margin-left: 1rem;
            overflow: visible;
            width: 0.875rem;
        }

        &__situation {
            font-size: 1.125rem;
            height: 1.25rem;
            margin-left: 1rem;
        }
    }
    @media (max-width: 1000px) {
        padding: 0.5rem;
    }

    @media (max-width: 480px) {
        &__sublabel {
            font-size: $font-sizes-large;
        }
        &__icon {
            min-width: 1.5rem;
            font-size: 1.5rem;
        }
    }
}
