.AdminTile {
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: var(--tavla-box-background-color);
    border-radius: 1rem;
    flex-grow: 1;
    flex-basis: 0;
}

.Header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
}

.Heading {
    margin: 0;
    max-width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.Switch {
    padding: 0;
}
