.available-vehicles-box {
    border-radius: 12px;
    background-color: var(--tavla-box-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 8rem;
    height: 13rem;
    width: 26rem;
    padding: 3rem;

    &-overflow {
        display: inline-block;

        span {
            height: 40px;
            display: table-cell;
            vertical-align: middle;
        }

        &-number {
            font-size: 6rem;
        }

        &-symbol {
            font-size: 2rem;
        }
    }
}

.row-box {
    margin: 1rem;
    display: flex;
}

.red-box {
    background-color: #c5044e;
    border-radius: 10px;
    width: 12rem;
    height: 4.5rem;
    
}

.time {
    font-size: 2.5rem;
    margin: 1rem;
    margin-left: auto;
    font-weight: bold;
}

.stopPlace {
    font-size: 2.5rem;
    margin: 1.5rem;
}

.lineNumber {
    font-size: 2rem;
    float: right;
    margin: 1.5rem;
}
