@import './../../../assets/styles/import.scss';
@import './../../../variables.scss';

.board-card {
    margin: 0 1.5rem 1.5rem 0;
    background-color: var(--tavla-background-color);

    &__preview {
        width: 100%;
        padding: 1rem;
        margin: 1.5rem 1.5rem 1.5rem 0;
        border: 2px solid var(--tavla-border-color);
        border-radius: 0.3rem;

        &:hover {
            background-color: var(--tavla-selected-color);
            cursor: pointer;
        }
    }

    &__text-container {
        &__title {
            color: var(--tavla-font-color);
        }

        &__description {
            margin-left: 3rem;
            color: var(--tavla-font-color);
        }
    }
}
