@import './../../../assets/styles/import.scss';
@import './../../../variables.scss';

.board-card {
    padding: 1rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
    border: 2px solid var(--tavla-border-color);
    border-radius: 0.3rem;
    background-color: var(--tavla-background-color);

    &:hover {
        background-color: var(--tavla-selected-color);
        cursor: pointer;
    }

    &__preview {
        width: 100%;
        padding: 1rem;
        margin: 1.5rem 1.5rem 1.5rem 0;
        border: 2px solid var(--tavla-border-color);
        border-radius: 0.3rem;
    }

    &__radio-container {
        margin-top: 1rem;

        &__header-wrapper {
            margin-bottom: 0.5rem;
            width: 100%;
            display: flex;
            align-items: center;

            &__radio-element {
                margin-right: 1rem;
            }

            &__title {
                color: var(--tavla-font-color);
            }
        }

        &__description {
            margin-left: 3rem;
            color: var(--tavla-font-color);
        }
    }
}
