@import './../../../assets/styles/import.scss';
@import './../../../variables.scss';

.board-card {
    margin: 0 1.5rem 1.5rem 0;
    background-color: var(--tavla-background-color);

    &__preview {
        width: 100%;
        padding: 1rem;
        margin: 1.5rem 1.5rem 1.25rem 0;
        border: 2px solid var(--tavla-border-color);
        border-radius: 0.3rem;
        color: var(--tavla-font-color);

        &:hover {
            background-color: var(--tavla-selected-color);
            border-color: var(--tavla-input-border-hover-color);
            cursor: pointer;
        }

        img {
            width: 100%;
        }

        &__icon {
            position: absolute;
            top: calc(50% - 1.5rem);
            left: calc(50% - 1.5rem);
        }
    }

    &__text-container {
        &__top-wrapper {
            display: inline;

            &__title {
                color: var(--tavla-font-color);
                width: fit-content;
                max-width: 80%;
                word-break: break-word;
            }

            &__overflow {
                float: right;
            }
        }

        input {
            background-color: var(--tavla-button-background-color);
            font-family: var(--eds-font-family);
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 2.25rem;
            border-style: none;
            border-radius: 0.3rem;
            outline: none;
        }

        &__text {
            color: var(--tavla-font-color);
            margin-top: 0.5rem;

            &__icon {
                size: 1rem;
                margin-right: 0.75rem;
                color: var(--tavla-icon-color);
                vertical-align: middle;
            }

            &__description {
                vertical-align: text-top;
                word-break: break-word;
            }
        }
    }
}
