.Border {
    border-top: var(--tavla-font-color) solid 1px;
    min-width: 100px;
    margin-bottom: 0;
}

.HomeFooter {
    padding: 4rem 4rem 2rem;
    margin: 0 auto;
    max-width: 80rem;
}

.FlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    .GridContainer {
        display: block;
    }
}

.FlexItem {
    margin-right: 1rem;
}

.FooterInfoText {
    font-size: 0.75rem;
    margin: 1rem 0;
}

.Icon {
    margin-left: 0.5em;
}

.RoundIcon {
    border-radius: 50%;
    display: flex;
    background-color: var(--primary-text-color);
    margin-right: 0.75rem;
    padding: 0.5rem;
}

.IconWrapper {
    margin-top: 2rem;
    display: flex;
}


