@import '../../assets/styles/import.scss';

.footer-container {
    width: 90%;
    height: 80px;
    align-items: center;
    bottom: 3rem;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    background-color: $colors-brand-blue;
    display: flex;
}

.settings-wrapper {
    margin-left: auto;
}

@media (max-height: 900px) {
    .footer-container {
        padding: 3rem 1rem;
        bottom: 0;
    }
}

@media (max-width: 1200px) {
    .footer-container {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .footer-container {
        bottom: 0;
        position: sticky;
        padding: 10px 2% 0 10px;
        width: 100%;
    }

    .back-button {
        opacity: 1;
    }

    .settings-wrapper {
        opacity: 1;
    }
}
