.upload {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    border: 2px dashed white;
    border-radius: 0.5em;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

.upload:hover {
    background-color: var(--tertiary-background-color);
}

.logoPreview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 0.5em;
    background-color: var(--secondary-background-color);
    height: 10em;
}

.fileInput {
    position: absolute;
    height: 100%;
    width: 100%;
    color: transparent;
}

.fileInput:focus {
    outline-offset: 0.5em;
    outline: 2px solid white;
    border-radius: 0.25em;
}

.fileInput:hover {
    cursor: pointer;
}

.fileSize {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 0.8em;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    border: 2px;
    border-radius: 0.5em;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 1em;
}
