.timeDeviationContainer {
  display: flex;
  flex-direction: column;
}

.aimedDepartureTime {
  text-decoration: line-through;
  font-size: 0.66rem;
}

.expectedDepartureTime {
  color: var(--table-time-deviation);
}
