.available-vehicles-box {
    border-radius: 12px;
    background-color: var(--tavla-box-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 8rem;
    height: 13rem;
    width: 26rem;
    padding: 3rem;
}
