.poster-footer {
    background-color: var(--tavla-box-background-color);
    display: flex;
    justify-content: space-between;
    padding: 4rem 6rem 0 6rem;

    &-heading {
        font-size: 2.75rem;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        font-weight: 600;
    }

    &-description {
        font-size: 2rem;
        line-height: 3rem;
    }

    &-app-image {
        height: 17rem;
    }
}
