.root {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    box-sizing: inherit;
    font-size: 3vmin;
    padding: 0 1em;
}

.rootContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 0.75em;
    overflow: hidden;
    padding: 1em 0;
}
