.qr-box {
    &__wrapper {
        padding: 1rem;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__code {
        background-color: white;
        border-radius: 1.5rem;
        padding: 1.3rem;
        display: flex;
        align-items: center;
    }

    &__link {
        margin-top: 0.5rem;
    }

    &__description {
        margin-top: 1rem;
    }
}
