.qr-box {
    &__wrapper {
        padding: 1rem;
        width: 50%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__code {
        background-color: white;
        border-radius: 1.5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
    }

    &__description {
        margin-top: 1rem;
    }

    &__link {
        width: 100%;
        overflow: hidden;
        font-size: small;
    }
}
