.qr-tile-wrapper {
    background-color: var(--tavla-box-background-color);
    flex: none;
    padding-top: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 1.2rem;
    text-align: center;

    &-title {
        font-size: 1.6rem;
    }

    &-flex {
        display: flex;
        flex-direction: row;
        margin-top: 1.2rem;
    }
}
