.qr-tile-wrapper {
    height: 17rem;
    width: 30rem;
    background-color: var(--tavla-box-background-color);
    flex: none;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 1.2rem;
    text-align: center;

    &-title {
        font-size: 1.5rem;
    }

    &-flex {
        display: flex;
        flex-direction: row;
        margin-top: 1.5rem;
    }
}
