@use 'assets/styles/Variables.scss';

.TableRow {
    // Important used to overwrite Entur component
    border-color: var(--tavla-border-color) !important;
}

.Line {
    font-size: 1.5rem;
    font-weight: 600;
}

.Route {
    margin: 0;
    margin-top: 0.25rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Time,
.Track {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.DelayedTime {
    display: block;
    color: var(--tavla-failure-font-color);
}

.OutdatedTime {
    display: block;
    text-decoration: line-through;
    font-size: 1rem;
}

.DeviationUnder {
    padding:0;
    font-size: small;
    font-weight: 400;
}