@import '../../../../../assets/styles/import.scss';
@import '../../../../../variables.scss';

.testing {
    border: 1px solid red;
    height: 100%;
    width: 25rem;
    background-color: var(--tavla-box-background-color);
    flex: none;
    padding: 2rem;
    overflow: scroll;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header-icons {
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
}
