@import '../../assets/styles/import.scss';

.enturdash {
    background-color: $blue;
    padding: 2rem 4rem;
    overflow: hidden;
    height: calc(100vh - 5rem);

    &__tiles {
        display: flex;
        flex-direction: row;
        overflow: auto;

        .tile {
            margin-right: 2rem;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0 4rem;
        display: none;
    }

    &:hover {
        .enturdash__footer {
            display: flex;
        }
    }
}
