.header{
    text-align: right;
    height: 5%
}

.departure-tiles {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 80%;
}

.type {
    width: 5%;
}

.time {
    width: 15%;
    text-align: center
}

.tile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272727;
    color: white;
    width: 17%;
    padding: 2.5% 1.6% 2.5% 1.6%;
    margin: 2%;
    height: fit-content;
    align-self: center;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
      .tile-container{
          width: 23%;
      }

}

.tile-container h2{
    font-size: 1.5rem;
}

.stop-header{
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.route-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -4% 0 -6% 0;
}

.route-icon{
    margin-right: 5%;
    width: 10%;
}

.route-departures{
    display: flex;
    flex-direction:row;
    overflow: hidden;
}

.route-departure-time{
    margin-right: 4%;
    color: #9e9e9e;
    font-weight: 400;
    white-space: nowrap;
}
