@import '~@entur/component-library/src/styles/_colors.scss';

.header{
    text-align: right;
    height: 5%
}

.type {
    width: 5%;
}

.time {
    width: 15%;
    text-align: center
}

.tile-container{
    display: flex;
    flex-direction: column;
    background-color: #272727;
    color: white;
    width: 18%;
    padding: 1.6%;
    margin: 0.7%;
    height: fit-content;
    align-self: center;

    h2{
        font-size: 1.4rem;
    }
}

.stop-header{
    flex-direction: column;
    align-self: center;
    text-align: center;

    h2{
        margin: 0 0 1rem 0;
    }
}

.stop-header-icons{
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.route-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -4% 0 -6% 0;
    color: $grey-30;
}

.route-icon{
    width: 30px;
}

.route-departures{
    display: flex;
    flex-direction:row;
    overflow: hidden;
}

.route-name-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88%;
    font-weight: 300;
}

.route-departure-time{
    color: #9e9e9e;
    font-weight: 300;
    white-space: nowrap;
    width: 33%;
    font-size: 1.2rem;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
      .tile-container{
          width: 25%;
          .stop-header h2{
              font-size: 1.2rem;
          }
          .route-name-text{
              font-size: 0.9rem;
          }
          .route-departure-time{
              font-size: 1rem;
          }
      }

}
@media (max-width: 480px) {
    .tile-container {
        display: flex;
        flex-direction: column;
        background-color: #272727;
        color: white;
        padding: 1.6%;
        margin: 2% 0 0 0;
        height: fit-content;
        align-self: center;
        width: 100%;
    }

    .route-name-text {
        width: auto;
    }
}
