*,
*::before,
*::after {
    box-sizing: inherit;
    font-weight: inherit;
}

body,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
    overflow-x: unset;
    overflow-y: unset;
    box-sizing: border-box;
}

::file-selector-button {
    display: none;
}

li,
ul {
    margin: 0;
    padding: 0;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

a.eds-button,
.eds-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    line-height: normal;
}

a.eds-button > .eds-icon,
.eds-button > .eds-icon {
    top: 0;
}

.eds-h2,
.eds-h5 {
    margin: 0;
}

.eds-contrast .eds-dropdown--multiselect__selected-items-and-input .eds-chip {
    background: #ebebf1;
    border: 0.0625rem solid #d1d4e3;
    color: #181c56;
    height: 1.5rem;
    padding: 0;
}

.eds-contrast .eds-expandable-panel__trigger {
    background: var(--secondary-background-color);
}

.eds-lead-paragraph {
    line-height: 1.875rem;
}

.eds-dropdown__list__item > span {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.eds-dropdown__list__item {
    word-break: keep-all;
}
