.Tile {
    padding: 2rem;
    gap: 1rem;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tavla-background-color);
}

.Title {
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}

.Wrapper {
    padding: 1rem;
    width: fit-content;
    background-color: white;
    border-radius: 1.5rem;
    line-height: 0;
}
