@import '@entur/tokens/dist/semantic.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main-background-color: var(--colors-brand-white);
        --secondary-background-color: var(--colors-blues-blue90);
        --tertiary-background-color: var(--colors-blues-blue60);
        --contrast-background-color: var(--colors-brand-blue);

        --main-text-color: var(--colors-brand-blue);
        --secondary-text-color: var(--colors-greys-grey60);
        --tertiary-text-color: var(--colors-greys-grey50);
        --highlight-text-color: var(--colors-brand-coral);

        --error-color: var(--colors-validation-lava);
        --warning-color: var(--colors-misc-black);
        --success-color: var(--colors-validation-mint);

        --estimated-time-color: var(--colors-validation-lava);
        --divider-color: var(--colors-blues-blue20);
        --border-color: var(--colors-greys-grey50);

        --blue80: var(--colors-blues-blue80);
        --blue90: var(--colors-blues-blue90);

        --grey60: var(--colors-greys-grey60);
        --grey70: var(--colors-greys-grey70);
        --grey80: var(--colors-greys-grey80);

        --tooltip-color: var(--colors-blues-blue10);
        --tooltip-text-color: var(--colors-brand-white);

        --metro-color: var(--colors-transport-default-metro);
        --bus-color: var(--colors-transport-default-bus);
        --tram-color: var(--colors-transport-default-tram);
        --funicular-color: var(--colors-transport-default-funicular);
        --cableway-color: var(--colors-transport-default-cableway);
        --rail-color: var(--colors-transport-default-train);
        --air-color: var(--colors-transport-default-plane);
        --coach-color: var(--colors-transport-default-bus);
        --lift-color: var(--colors-transport-default-cableway);
        --monorail-color: var(--colors-transport-default-tram);
        --trolleybus-color: var(--colors-transport-default-bus);
        --unknown-color: var(--colors-transport-default-walk);
        --water-color: var(--colors-transport-default-ferry);
        --taxi-color: var(--colors-transport-default-taxi);

        --metro-color-transparent: var(--standard-metro-transparent);
        --bus-color-transparent: var(--standard-bus-transparent);
        --tram-color-transparent: var(--standard-tram-transparent);
        --funicular-color-transparent: var(--standard-funicular-transparent);
        --cableway-color-transparent: var(--standard-cableway-transparent);
        --rail-color-transparent: var(--standard-train-transparent);
        --air-color-transparent: var(--standard-plane-transparent);
        --coach-color-transparent: var(--standard-bus-transparent);
        --lift-color-transparent: var(--standard-cableway-transparent);
        --monorail-color-transparent: var(--standard-tram-transparent);
        --trolleybus-color-transparent: var(--standard-bus-transparent);
        --water-color-transparent: var(--standard-ferry-transparent);
        --taxi-color-transparent: var(--standard-taxi-transparent);

        --data-visualization-azure: var(--colors-data-default-azure);
        --data-visualization-blue: var(--colors-data-default-blue);
        --data-visualization-coral: var(--colors-data-default-coral);
        --data-visualization-jungle: var(--colors-data-default-jungle);
        --data-visualization-lavender: var(--colors-data-default-lavender);
        --data-visualization-lilac: var(--colors-data-default-lilac);
        --data-visualization-peach: var(--colors-data-default-peach);
        --data-visualization-spring: var(--colors-data-default-spring);
    }

    [data-theme='dark'] {
        --main-background-color: var(--colors-misc-black);
        --secondary-background-color: var(--colors-greys-grey);
        --tertiary-background-color: var(--colors-blues-blue30);
        --contrast-background-color: var(--colors-brand-white);

        --main-text-color: var(--colors-brand-white);
        --secondary-text-color: var(--colors-brand-lavender);
        --tertiary-text-color: var(--colors-greys-grey50);
        --highlight-text-color: var(--colors-brand-coral);

        --error-color: var(--colors-validation-lava-contrast);
        --warning-color: var(--colors-validation-canary-contrast);
        --success-color: var(--fill-success-contrast);

        --estimated-time-color: var(--colors-brand-coral);
        --divider-color: var(--colors-blues-blue20);
        --border-color: var(--colors-greys-grey10);

        --tooltip-color: var(--colors-greys-grey30);

        --blue80: var(--colors-blues-blue80);
        --blue90: var(--colors-blues-blue90);

        --grey60: var(--colors-greys-grey60);
        --grey70: var(--colors-greys-grey70);
        --grey80: var(--colors-greys-grey80);

        --metro-color: var(--colors-transport-contrast-metro);
        --bus-color: var(--colors-transport-contrast-bus);
        --tram-color: var(--colors-transport-contrast-tram);
        --funicular-color: var(--colors-transport-contrast-funicular);
        --cableway-color: var(--colors-transport-contrast-cableway);
        --rail-color: var(--colors-transport-contrast-train);
        --air-color: var(--colors-transport-contrast-plane);
        --coach-color: var(--colors-transport-contrast-bus);
        --lift-color: var(--colors-transport-contrast-cableway);
        --monorail-color: var(--colors-transport-contrast-tram);
        --trolleybus-color: var(--colors-transport-contrast-bus);
        --unknown-color: var(--colors-transport-contrast-walk);
        --water-color: var(--colors-transport-contrast-ferry);
        --taxi-color: var(--colors-transport-contrast-taxi);

        --metro-color-transparent: var(--contrast-metro-transparent);
        --bus-color-transparent: var(--contrast-bus-transparent);
        --tram-color-transparent: var(--contrast-tram-transparent);
        --funicular-color-transparent: var(--contrast-funicular-transparent);
        --cableway-color-transparent: var(--contrast-cableway-transparent);
        --rail-color-transparent: var(--contrast-train-transparent);
        --air-color-transparent: var(--contrast-plane-transparent);
        --coach-color-transparent: var(--contrast-bus-transparent);
        --lift-color-transparent: var(--contrast-cableway-transparent);
        --monorail-color-transparent: var(--contrast-tram-transparent);
        --trolleybus-color-transparent: var(--contrast-bus-transparent);
        --water-color-transparent: var(--contrast-ferry-transparent);
        --taxi-color-transparent: var(--contrast-taxi-transparent);

        --data-visualization-azure: var(--colors-data-contrast-azure);
        --data-visualization-blue: var(--colors-data-contrast-blue);
        --data-visualization-coral: var(--colors-data-contrast-coral);
        --data-visualization-jungle: var(--colors-data-contrast-jungle);
        --data-visualization-lavender: var(--colors-data-contrast-lavender);
        --data-visualization-lilac: var(--colors-data-contrast-lilac);
        --data-visualization-peach: var(--colors-data-contrast-peach);
        --data-visualization-spring: var(--colors-data-contrast-spring);
    }

    /* Light theme palettes */
    [data-transport-palette='blue-bus'] {
        --bus-color: var(--colors-transport-default-train);
        --bus-color-transparent: var(--standard-train-transparent);
        --rail-color: var(--colors-transport-default-bus);
        --rail-color-transparent: var(--standard-bus-transparent);
    }

    /* Dark theme palettes */
    [data-theme='dark'][data-transport-palette='blue-bus'] {
        --bus-color: var(--colors-transport-contrast-train);
        --bus-color-transparent: var(--contrast-train-transparent);
        --rail-color: var(--colors-transport-contrast-bus);
        --rail-color-transparent: var(--contrast-bus-transparent);
    }

    [data-theme='entur'] {
        --main-background-color: var(--colors-brand-blue);
        --secondary-background-color: var(--colors-blues-blue10);
        --tertiary-background-color: var(--colors-blues-blue30);
        --contrast-background-color: var(--colors-brand-white);

        --main-text-color: var(--colors-brand-white);
        --secondary-text-color: var(--colors-brand-lavender);
        --tertiary-text-color: var(--colors-blues-blue60);
        --highlight-text-color: var(--colors-brand-coral);

        --error-color: var(--colors-validation-lava-contrast);
        --warning-color: var(--colors-validation-canary-contrast);
        --success-color: #75daad;

        --estimated-time-color: var(--colors-brand-coral);
        --divider-color: var(--colors-blues-blue20);
        --border-color: var(--colors-blues-blue30);

        --blue80: var(--colors-blues-blue80);
        --blue90: var(--colors-blues-blue90);

        --grey60: var(--colors-greys-grey60);
        --grey70: var(--colors-greys-grey70);
        --grey80: var(--colors-greys-grey80);

        --metro-color: var(--colors-transport-contrast-metro);
        --bus-color: var(--colors-transport-contrast-bus);
        --tram-color: var(--colors-transport-contrast-tram);
        --funicular-color: var(--colors-transport-contrast-funicular);
        --cableway-color: var(--colors-transport-contrast-cableway);
        --rail-color: var(--colors-transport-contrast-train);
        --air-color: var(--colors-transport-contrast-plane);
        --coach-color: var(--colors-transport-contrast-bus);
        --lift-color: var(--colors-transport-contrast-cableway);
        --monorail-color: var(--colors-transport-contrast-tram);
        --trolleybus-color: var(--colors-transport-contrast-bus);
        --unknown-color: var(--colors-transport-contrast-walk);
        --water-color: var(--colors-transport-contrast-ferry);
        --taxi-color: var(--colors-transport-contrast-taxi);

        --data-visualization-azure: var(--colors-data-contrast-azure);
        --data-visualization-blue: var(--colors-data-contrast-blue);
        --data-visualization-coral: var(--colors-data-contrast-coral);
        --data-visualization-jungle: var(--colors-data-contrast-jungle);
        --data-visualization-lavender: var(--colors-data-contrast-lavender);
        --data-visualization-lilac: var(--colors-data-contrast-lilac);
        --data-visualization-peach: var(--colors-data-contrast-peach);
        --data-visualization-spring: var(--colors-data-contrast-spring);
    }

    html {
        background-color: var(--main-background-color);
    }

    body {
        color: var(--main-text-color);
        font-family:
            Nationale,
            Arial,
            Gotham Rounded,
            -apple-system,
            BlinkMacSystemFont,
            Segoe UI,
            Roboto,
            Oxygen-Sans,
            Ubuntu,
            Cantarell,
            Helvetica Neue,
            sans-serif;
        display: flex;
        flex-direction: column;
    }

    main {
        flex-grow: 1;
    }

    h3 {
        font-weight: 500;
    }

    ul {
        list-style-type: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}

@layer components {
    .primaryButton {
        background-color: var(--main-background-color);
    }

    .primaryButton:hover {
        background-color: var(--secondary-background-color);
    }

    .secondaryButton {
        background-color: var(--secondary-background-color);
    }

    .secondaryButton:hover {
        background-color: var(--tertiary-background-color);
    }

    .visuallyHidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .box {
        width: 100%;
        border-radius: 0.5em;
        padding: 2em;
        background: var(--blue90);
    }

    .divider {
        @apply my-2 border-b-2 border-b-secondary;
    }

    .publicCode {
        background-color: var(--tertiary-background-color);
        padding: 0.35em 0.5em;
        border-radius: 0.5em;
    }

    .pulse {
        @apply bottom-[calc(50%-((h-3)/2))] left-[calc(50%-((0.75em)/2))] inline-flex h-3 w-3 rounded-full bg-success;
    }

    .previewContainer {
        @apply rounded border border-secondary bg-primary p-4;
    }

    .table-custom-nth-child {
        &:nth-child(6n + 1),
        &:nth-child(6n + 2),
        &:nth-child(6n + 3) {
            @apply bg-grey80;
        }
    }

    /* For Tavla using pages */

    .root {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        box-sizing: inherit;
        font-size: 3vmin;
        padding: 0 1em;
        background-color: var(--main-background-color);
    }

    .rootContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        gap: 0.75em;
        overflow: hidden;
        padding: 1em 0;
    }

    @supports not (gap: 0.75em) {
        .rootContainer > * {
            margin: 0.5em;
        }
    }

    .lineThrough {
        text-decoration: line-through;
    }
}
