.lineSettingsWrapper {
    display: flex;
    flex-direction: column;
}

.linesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0.5em;
    gap: 0 2em;
}

.line {
    margin-left: 1em;
}

.selectAll {
    margin: 0.2em 0;
    padding-top: 1em;
}
