.HeaderWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ListWrapper {
    margin-top: 3rem;
}
.List {
    list-style:none;
    padding-inline-start: 0;
}
.ListRow {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: center;
}

.TextField {
    margin: 0 1rem;
}

.DeleteButton {
    margin-right: 1rem;
}

.SubmitButton {
    margin-top: 1rem;
    left: 23rem;
}