@use 'src/assets/styles/Variables.scss';

.FloatingButtons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;

    @media (max-width: Variables.$breakpoints-medium) {
        flex-direction: column;
        position: relative;
        gap: 1rem;
        bottom: 0;
        right: 0;
    }
}

.Button {
    min-width: 9.5rem;
    width: fit-content;
    border: 2px solid var(--floating-button-background);
    color: var(--floating-button-font-color);
    background: var(--tavla-background-color);
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 0.25rem;
    cursor: pointer;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.125rem var(--floating-button-background),
            0 0 0 0.25rem var(--tavla-font-color);
    }

    &_primary {
        background: var(--floating-button-primary-background);
        color: var(--floating-button-primary-font-color);
    }

    @media (max-width: Variables.$breakpoints-medium) {
        width: 100%;
    }
}
