.heading {
    font-size: x-large;
}

.radioOption {
    width: 100%;
    padding: 1.25em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.radioOptionWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
}
