.footer{
  color: #656782;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-logo{
  margin-right: 0px;
  margin-left: 40%;
}

.main-content{
    height: 80%;
}
