.heading-wrapper {
    padding: 4rem 0 4rem 0;
}

.lead-paragraph {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.JCD-heading {
    font-size: 8rem;
}

.JCD-last-updated {
    font-size: 2rem;
}
