.bus-stop-departure-tile {
    &-head-icon {
        width: 10%;
    }
    
    &-head-departure {
        width: 18%;
    }

    &-head-track {
        width: 18%;
    }

    &-head-situation {
        width: 30%;
    }
}
.busStop .tile {
    width: 100%;
    height: fit-content;
    background-color: var(--tavla-box-background-color);
    color: var(--tavla-font-color);
    flex: none;
    padding: 2rem;
    overflow: auto;

    .tilerow {
        &__sublabel {
            &__situation {
                font-size: 100%;
            }
        }
    }

    .eds-icon {
        overflow: visible;
        align-items: flex-end;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        h2 {
            margin: 0;
        }

        svg {
            margin-left: 0.5rem;
        }
    }

    &__header__icons {
        font-size: 2rem;
        float: right;
    }

    &__header__header3 {
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
    }

    &__walking-time {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: var(--tavla-font-color);
    }
}

@media (max-width: 1000px) {
    .eds-table--small {
        &__row {
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
        }

        &__header-cell {
            align-items: flex-start;
            padding: 0;
        }

        &__data-cell {
            align-items: center;
            padding: 0.25rem;
        }

        .eds-table__header-cell {
            padding: 0 0;
        }
    }

    .tableRow {
        align-items: center;
    }
}
