@import '../../../assets/styles/import.scss';
@import '~@entur/table/dist/styles.css';

.busStop .tile {
    width: 100%;
    background-color: var(--tavla-box-background-color);
    color: var(--tavla-font-color);
    flex: none;
    padding: 2rem;
    overflow: auto;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            margin: 0;
        }

        svg {
            margin-left: 0.5rem;
        }
    }

    &__header__icons {
        font-size: 2rem;
    }
}

#tile__header__linje {
    margin-left: auto;
    margin-right: -40px;
}
