@import '../../../assets/styles/import.scss';
@import '~@entur/table/dist/styles.css';

.busStop .tile {
    width: 100%;
    height: fit-content;
    background-color: var(--tavla-box-background-color);
    color: var(--tavla-font-color);
    flex: none;
    padding: 2rem;
    overflow: auto;

    .tilerow {
        &__sublabel {
            &__situation {
                font-size: 100%;
            }
        }
    }
    .eds-icon {
        overflow: visible;
        align-items: flex-end;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        h2 {
            margin: 0;
        }

        svg {
            margin-left: 0.5rem;
        }
    }
    &__header__icons {
        font-size: 2rem;
        float: right;
    }
    &__header__header3 {
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
    }
}

@media (max-width: 1000px) {
    .eds-table--small {
        &__row {
            overflow: hidden;
            white-space: wrap;
            text-overflow: ellipsis;
        }
        &__header-cell {
            align-items: left;
            padding: 0;
        }
        &__data-cell {
            align-items: left;
        }
        .eds-table__header-cell {
            padding: 0 0;
        }
    }
    .tableRow {
        align-items: left;
    }
}
