@import './assets/styles/import.scss';

body {
    margin: 0;
    background-color: $colors-brand-blue;
    overflow-y: unset;
    overflow-x: unset;
    min-height: 100vh;
}

div {
    scrollbar-width: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.eds-contrast {
    background-color: initial;
    overflow: hidden;
}
