@import './assets/styles/import.scss';
@import './variables.scss';


body {
    margin: 0;
    background-color: var(--tavla-background-color);
    overflow-y: unset;
    overflow-x: unset;
    min-height: 100vh;
}

*::-webkit-scrollbar {
    display: none;
}

div {
    scrollbar-width: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.eds-contrast {
    background-color: var(--tavla-background-color);
    overflow: hidden;
}

//THEME SPECIFIC STYLING

.dark-theme .eds-form-control-wrapper--dark {
    background-color: $colors-greys-grey40;
    color: $colors-brand-blue;

    &:hover {
        background-color: $colors-greys-grey40;
        color: $colors-brand-blue;

        &::before {
            border-color: $colors-brand-lavender;
        }
    }

    ::placeholder {
        color: $colors-blues-blue40;
    }

    input {
        font-size: $font-sizes-extra-large;
        line-height: $line-heights-extra-large4;
    }
}

.dark-theme .eds-dropdown-list__item {
    background-color: $colors-greys-grey40;
    border-bottom: $border-widths-default solid $colors-greys-grey20;
    color: $colors-brand-white;

    &:hover,
    &:active,
    &:focus,
    &--highlighted {
        background-color: $colors-greys-grey20;
    }
}
