@import '~@entur/component-library/lib/index.css';
@import '~@entur/fonts/index.css';
@import '~@entur/component-library/src/styles/_colors.scss';
html{
    font-size: calc(14px + (26 - 14) * ((100vw - 800px) / (2600 - 800)));
}

body {
    margin: 5%;
    color: $white;
    background-color: $black;
}

h1 {
    font-weight: 600;
}


h3, h4, h5 {
    font-weight: 400;
}
