@import './assets/styles/import.scss';

:root {
    --tavla-background-color: #181c56;
    --tavla-font-color: #fff;
    --tavla-box-background-color: #292b6a;
    --tavla-button-background-color: #393d79;
    --tavla-github-logo: #aeb7e2;
    --tavla-border-color: #393d79;
    --tavla-selected-color: #393d79;
    --tavla-label-font-color: rgb(174, 183, 226);
    --tavla-checkbox-color: #54568c;
    --tavla-checkbox-hover-color: #8285a8;
    --tavla-hover-color: #aeb7e2;
    --tavla-input-background-color: rgb(248, 248, 248);
    --tavla-input-border-color: #181c56;
    --tavla-input-border-hover-color: #aeb7e2;
    --tavla-input-font-color: #181c56;
    --tavla-input-placeholder-color: unset;
    --tavla-input-disabled-background-color: #e9e9e9;
    --tavla-input-disabled-font-color: #656781;
    --tavla-input-icon-color: #181c56;
    --tavla-slider-color: #fff;
    --tavla-slider-thumb-color: #fff;
    --tavla-slider-fill-color: rgb(174, 183, 226);
    --floating-button-background: rgb(84, 86, 140);
    --floating-button-font-color: #fff;
    --floating-button-primary-background: rgb(174, 183, 226);
    --floating-button-primary-font-color: rgb(24, 28, 86);

}

.default-theme {
    --tavla-background-color: #181c56;
    --tavla-font-color: #fff;
    --tavla-box-background-color: #292b6a;
    --tavla-button-background-color: #393d79;
    --tavla-github-logo: #aeb7e2;
    --tavla-border-color: #393d79;
    --tavla-selected-color: #393d79;
    --tavla-label-font-color: rgb(174, 183, 226);
    --tavla-checkbox-color: #54568c;
    --tavla-checkbox-hover-color: #8285a8;
    --tavla-hover-color: #aeb7e2;
    --tavla-input-background-color: rgb(248, 248, 248);
    --tavla-input-border-color: #181c56;
    --tavla-input-border-hover-color: #aeb7e2;
    --tavla-input-font-color: #181c56;
    --tavla-input-disabled-background-color: #e9e9e9;
    --tavla-input-disabled-font-color: #656781;
    --tavla-input-icon-color: #181c56;
    --tavla-slider-color: #fff;
    --tavla-slider-thumb-color: #fff;
    --tavla-slider-fill-color: rgb(174, 183, 226);
}

.dark-theme {
    --tavla-background-color: #000;
    --tavla-font-color: rgb(255, 255, 255);
    --tavla-box-background-color: #171717;
    --tavla-button-background-color: #212122;
    --tavla-github-logo: #212122;
    --tavla-border-color: #212122;
    --tavla-selected-color: #353535;
    --tavla-label-font-color: #949494;
    --tavla-checkbox-color: #292929;
    --tavla-checkbox-hover-color: #4d4d4d;
    --tavla-hover-color: #4d4d4d;
    --tavla-input-background-color: rgba(255, 255, 255, 0.11);
    --tavla-input-border-color: rgba(255, 255, 255, 0.14);;
    --tavla-input-border-hover-color: #4d4d4d;
    --tavla-input-font-color: rgb(255, 255, 255);
    --tavla-input-placeholder-color: #D1D3D3;
    --tavla-input-disabled-background-color: #171717;
    --tavla-input-disabled-font-color: #898a89;
    --tavla-input-disabled-font-color: #949494;
    --tavla-input-icon-color: #fff;
    --tavla-slider-color: #303030;
    --tavla-slider-thumb-color: #303030;
    --tavla-slider-fill-color: #4d4d4d;
    --floating-button-background: rgb(42, 42, 42);
    --floating-button-font-color: #fff;
    --floating-button-primary-background: rgba(255, 255, 255, 0.14);
    --floating-button-primary-font-color: #fff;
}

.light-theme {
    --tavla-background-color: #fff;
    --tavla-font-color: #000;
    --tavla-box-background-color: rgb(248, 248, 248);
    --tavla-button-background-color: rgb(243, 243, 243);
    --tavla-github-logo: #f3f3f3;
    --tavla-border-color: #f3f3f3;
    --tavla-selected-color: #f3f3f3;
    --tavla-label-font-color: #949494;
    --tavla-checkbox-color: #949494;
    --tavla-checkbox-hover-color: #d1d3d3;
    --tavla-hover-color: #d1d3d3;
    --tavla-input-background-color: #fff;
    --tavla-input-border-color: #949494;
    --tavla-input-border-hover-color: #949494;
    --tavla-input-font-color: black;
    --tavla-input-placeholder-color: #646464;
    --tavla-input-disabled-background-color: #e9e9e9;
    --tavla-input-disabled-font-color: #656781;
    --tavla-input-icon-color: #000;
    --tavla-slider-color: rgb(233, 233, 233);
    --tavla-slider-thumb-color: #fff;
    --tavla-slider-fill-color: rgb(148, 148, 148);
    --floating-button-background: rgb(243, 243, 243);
    --floating-button-font-color: #000;
    --floating-button-primary-background: rgb(243, 243, 243);
    --floating-button-primary-font-color: #000;
}

.grey-theme {
    --tavla-background-color: #e9e9e9;
    --tavla-font-color: #000;
    --tavla-box-background-color: rgb(248, 248, 248);
    --tavla-button-background-color: rgb(255, 255, 255);
    --tavla-github-logo: #fff;
    --tavla-border-color: #fff;
    --tavla-selected-color: #f8f8f8;
    --tavla-label-font-color: #949494;
    --tavla-checkbox-color: #949494;
    --tavla-checkbox-hover-color: #d1d3d3;
    --tavla-hover-color: #d1d3d3;
    --tavla-input-background-color: #fff;
    --tavla-input-border-color: #949494;
    --tavla-input-border-hover-color: #949494;
    --tavla-input-font-color: black;
    --tavla-input-placeholder-color: #646464;
    --tavla-input-disabled-background-color: #d1d1d3;
    --tavla-input-icon-color: #000;
    --tavla-slider-color: #e9e9e9;
    --tavla-slider-fill-color: rgb(148, 148, 148);
    --floating-button-background: #fff;
    --floating-button-font-color: #000;
    --floating-button-primary-background: #fff;
    --floating-button-primary-font-color: #000;
}
