[data-theme='dark'] {
    --tavla-background-color: #000000
    --tavla-box-background-color: rgba(255, 255, 255, 0.09)
    --tavla-menu-background-color: rgba(255, 255, 255, 0.14)
    --tavla-font-color: rgb(255, 255, 255)
}