.close-button {
    align-self: flex-end;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background: none;
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin-left: auto;
    outline: none;

    .icon {
        margin-right: 0.5rem;
    }
}
