.tileSettingsWrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    border-radius: 0.5em;
    padding: 2em;
    width: 100%;
}

.tileSettingsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

.heading {
    margin: 0;
}

.content {
    position: relative;
    flex: 1;
}
