@use '../../../../assets/styles/Variables.scss';

.bus-stop-row {
    &-icon {
        font-size: 2rem;
    }

    &-route {
        margin: 0;
        margin-top: 0.25rem;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        color: var(--primary-text-color);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-time,
    &-track {
        font-size: 1.25rem;
        font-weight: 400;
    }
}
