@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.compact {
    &__tiles {
        display: block;
        flex-direction: row;
        overflow-x: visible;

        .tile {
            width: 100%;
            padding-top: 2rem;
            overflow-y: hidden;
            overflow-x: hidden;
            margin-bottom: 1rem;
        }

        .maptile {
            width: 100%;
            overflow: hidden;
            margin-bottom: 1rem;
        }
    }

    &__draggable-row {
        width: 100%;
        border: 2px solid var(--tavla-border-color);
        margin-bottom: 0.5rem;
        color: var(--tavla-background-color);
        background-color: var(--tavla-font-color);
        padding: 1rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--is-dragging {
            box-shadow: $shadows-card-shadow-hover-contrast;
        }
    }

    .react-grid-layout {
        position: relative;
        transition: height 200ms ease;
    }
    .react-grid-layout:last-child {
        margin-bottom: 5rem;
    }

    .react-grid-item {
        transition: all 200ms ease;
        transition-property: left, top;
        z-index: 1;
        display: flex;
    }

    .react-grid-item:not(#compact-map-tile)::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        background-color: var(--tavla-box-background-color);
        mask-image: linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 70%,
            rgba(0, 0, 0, 1) 100%
        );
        -webkit-mask-image: -webkit-linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 70%,
            rgba(0, 0, 0, 1) 100%
        );
        z-index: 1;
    }

    .react-grid-item:not(#compact-map-tile)::before {
        content: '';
        position: absolute;
        width: 2rem;
        height: 80%;
        right: 0;
        bottom: 0;
        background-color: var(--tavla-box-background-color);
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 70%,
            rgba(0, 0, 0, 1) 100%
        );
        z-index: 1;
    }

    .react-grid-item.cssTransforms {
        transition-property: transform;
    }

    .react-grid-item.resizing {
        z-index: 1;
        will-change: width, height;
    }

    .react-grid-item.react-draggable-dragging {
        transition: none;
        z-index: 3;
        will-change: transform;
    }

    .react-grid-item.dropping {
        visibility: hidden;
    }

    .react-grid-item.react-grid-placeholder {
        background: var(--tavla-border-color);
        opacity: 0.2;
        transition-duration: 100ms;
        z-index: 2;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .react-grid-item > .react-resizable-handle {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 3rem;
        bottom: 0;
        z-index: 3;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.3s;
    }

    .react-grid-item > .react-resizable-handle::after {
        content: '';
        position: absolute;
        cursor: nwse-resize;
        width: 2rem;
        height: 2rem;
        bottom: 0.5rem;
        right: 0.5rem;
    }

    .resizeHandle {
        position: absolute;
        bottom: 0.3rem;
        right: 0.3rem;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.3s;
    }

    .react-grid-item:hover > .resizeHandle {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .compact {
        padding: 1.5rem;
        overflow: auto;

        &__tiles {
            display: block;
        }
        .tile {
            max-height: unset;
            width: 100%;
        }
        .maptile {
            margin-bottom: 1rem;
            max-height: unset;
            width: 100%;
        }
    }
}
