@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.compact {
    &__tiles {
        display: block;
        flex-direction: row;
        overflow-x: visible;

        .tile {
            width: 100%;
            padding-top: 2rem;
            overflow-y: hidden;
            overflow-x: hidden;
            margin-bottom: 1rem;
            border-radius: 1rem;
        }

        .maptile {
            height: inherit;
            width: 100%;
            overflow: hidden;
            margin-bottom: 1rem;
            border-radius: 1rem;
            z-index: 1;
        }
    }

    &__loading-screen {
        margin: 0;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .react-grid-layout {
        position: relative;
        transition: height 200ms ease;
    }
    .react-grid-layout:last-child {
        margin-bottom: 5rem;
    }

    .react-grid-item {
        transition: all 200ms ease;
        transition-property: left, top;
        z-index: 1;
        display: flex;
    }

    .react-grid-item.cssTransforms {
        transition-property: transform;
    }

    .react-grid-item.resizing {
        z-index: 1;
        will-change: width, height;
    }

    .react-grid-item.react-draggable-dragging {
        transition: none;
        z-index: 3;
        will-change: transform;
    }

    .react-grid-item.dropping {
        visibility: hidden;
    }

    .react-grid-item.react-grid-placeholder {
        background: var(--tavla-border-color);
        opacity: 0.2;
        transition-duration: 100ms;
        z-index: 2;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .react-grid-item > .react-resizable-handle {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 3rem;
        bottom: 0;
        z-index: 3;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.3s;
    }

    .react-grid-item > .react-resizable-handle::after {
        content: '';
        position: absolute;
        cursor: nwse-resize;
        width: 2rem;
        height: 2rem;
        bottom: 0.5rem;
        right: 0.5rem;
    }

    .resizeHandle {
        position: absolute;
        bottom: 0.3rem;
        right: 0.3rem;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.3s;
    }

    .react-grid-item:hover > .resizeHandle {
        opacity: 1;
    }
}

@media (min-width: 996px) {
    .compact {
        &__tiles {
            /*
            react-grid-layout uses a margin of 32px between all grid-items.
            This makes the tiles not lign up with the header, so to counteract
            these margins on the sides, this styling is needed. 
            */

            margin-left: -2rem;
            margin-right: -2rem;
        }
    }
}

@media (max-width: 1000px) {
    .compact {
        padding: 1rem;
        overflow: auto;

        &__tiles {
            display: block;
            .tile-wrapper:last-child {
                margin-bottom: 6rem;
            }
        }
        .tile {
            max-height: unset;
            width: 100%;
        }
        .maptile {
            margin-bottom: 6rem;
            height: 630px;
            max-height: unset;
            width: 100%;
        }
    }
}
