@import '../../../assets/styles/import.scss';
@import '../../../variables.scss';

.cluster-marker {
    color: var(--tavla-background-color);
    background: #fff;
    border: 2px;
    border-color: black;
    border-radius: 0.75rem;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 1.5rem;
}

.scooter-icon {
    height: 1rem;
    color: $colors-transport-default-mobility;
    margin: 0.25rem;
}

.point-count {
    font-size: 0.875rem;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
}
