.stopPlaceTile {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--tavla-box-background-color);
    color: white;
}

.lineToggleContainer {
    margin-bottom: 0.5rem;
}

.columnContainer {
    display: flex;
    gap: 10px;
}

.tileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}
