.weather-panel {
    &__container {
        width: 100%;
        height: 100%;
    }

    &__buttons {
        display: inline-block;
        padding-right: 0.5rem;
        margin-top: 0.8rem;
    }

    .eds-filter-chip:not(:first-child) {
        margin-top: 0.8rem;
        padding-left: 0.8rem;
    }

    .eds-chip {
        background-color: var(--tavla-border-color);
    }

    .eds-filter-chip__icon {
        background-color: var(--tavla-background-color);
    }

    &__eds-paragraph,
    .eds-paragraph {
        color: var(--tavla-font-color);
    }
}

.infoWrapper {
    margin: 1rem 0 1rem 0;
}
