@import '../../../../assets/styles/import.scss';

.tile {
    height: fit-content;
    width: 25rem;
    background-color: $colors-blues-blue10;
    color: $white;
    flex: none;
    padding: 2rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            margin: 0;
        }
    }

    &__header-icons {
        display: flex;
        align-items: center;
    }
}
