.TimelineTile {
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}

.Track {
    height: 6rem;
    position: relative;
}

.Line {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
}
