@import '../../assets/styles/import.scss';

.privacy {
    background-color: white;
    overflow: auto;

    &__header {
        background-color: $colors-brand-blue;
        padding: 2rem 3rem;

        h1 {
            margin-left: 1rem;
        }
    }

    &__body {
        max-width: 1000px;
        color: $colors-brand-blue;
        background-color: white;
        padding: 2rem 4rem;
    }
}

@media (max-width: 1000px) {
    .privacy__header {
        padding: 0;
    }

    .privacy__body {
        padding: 1rem;
    }
}
