@import '../../assets/styles/import.scss';

.privacy {
    background-color: white;
    overflow: auto;

    &__header {
        background-color: $colors-brand-blue;
        padding: 2rem 5rem;

        h1 {
            color: white;
            font-size: 32px;
            margin-left: 1rem;
        }

        &__back-button {
            cursor: pointer;
            margin-left: 0;
        }
    }

    &__body {
        max-width: 1000px;
        color: $colors-brand-blue;
        background-color: white;
        padding: 2rem 6rem;
    }
}

@media (max-width: 1000px) {
    .privacy__header {
        padding: 1rem;
    }

    .privacy__body {
        padding: 2rem;
    }
}
