@use 'src/assets/styles/Variables.scss';

.DisplayWrapper {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
}

.Heading {
    color: var(--tavla-font-color);
}

@media (max-width: Variables.$breakpoints-medium) {
    .DisplayWrapper {
        grid-template-columns: 1fr;
    }

    .DisplayCard {
        margin: 0 0 1rem 0;
    }
}
