.header {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-bottom: var(--table-header-border-color) solid;
    margin-bottom: 1em;
    height: 3em;
    font-weight: 500;
    color: var(--border-color);
    padding-left: 0.25rem;
}
