@import '../../assets/styles/import.scss';
@import '../../variables.scss';

.slider {
    width: 100%;
    height: 0.6%;
    -webkit-appearance: none;

    &__labels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        div {
            height: 20px;
            width: 50px;
            color: var(--tavla-label-font-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid $colors-brand-coral;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        background: $colors-brand-coral;
        cursor: pointer;
        margin-top: -0.6em;
    }

    &::-moz-range-thumb {
        border: 1px solid $colors-brand-coral;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        background: $colors-brand-coral;
        cursor: pointer;
    }

    &::-ms-thumb {
        border: 1px solid $colors-brand-coral;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        background: $colors-brand-coral;
        cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        background: var(--tavla-button-background-color);
        border: 0.2px solid var(--tavla-button-background-color);
    }

    &::-moz-range-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        background: var(--tavla-button-background-color);
        border: 0.2px solid var(--tavla-button-background-color);
    }

    &::-ms-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        border: 0.2px solid var(--tavla-button-background-color);
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-ms-fill-lower {
        background: $colors-brand-coral;
    }

    &::-ms-fill-upper {
        background: var(--tavla-button-background-color);
    }

    &::-ms-fill-left {
        background: var(--tavla-button-background-color);
    }

    &:focus {
        outline: none;

        &::-webkit-slider-runnable-track {
            background: var(--tavla-button-background-color);
        }
    }
}
