@import '../../assets/styles/import.scss';

.slider {
    width: 100%;
    height: 0.6%;
    -webkit-appearance: none;

    &__labels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        div {
            height: 20px;
            width: 50px;
            color: $colors-blues-blue60;
            font-family: $base-font-family;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid $colors-brand-coral;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        background: $colors-brand-coral;
        cursor: pointer;
        margin-top: -0.6em;
    }

    &::-moz-range-thumb {
        border: 1px solid $colors-brand-coral;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        background: $colors-brand-coral;
        cursor: pointer;
    }

    &::-ms-thumb {
        border: 1px solid $colors-brand-coral;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        background: $colors-brand-coral;
        cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        background: $white;
        border: 0.2px solid $white;
    }

    &::-moz-range-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        background: $white;
        border: 0.2px solid $white;
    }

    &::-ms-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        border: 0.2px solid $white;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-ms-fill-lower {
        background: $colors-brand-coral;
    }

    &::-ms-fill-upper {
        background: $white;
    }

    &::-ms-fill-left {
        background: $white;
    }

    &:focus {
        outline: none;

        &::-webkit-slider-runnable-track {
            background: $white;
        }
    }
}
