@import '../../assets/styles/import.scss';
@import '../../variables.scss';

@mixin reset-track {
    width: 100%;
    height: 0.3rem;
    cursor: pointer;
    background: var(--tavla-slider-color);
    border: none;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(var(--slider-progress), var(--tavla-slider-fill-color)),
                                       color-stop(var(--slider-progress), var(--tavla-slider-color)));
}

@mixin reset-thumb {
    border: 1px solid var(--tavla-slider-thumb-color);
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 100%;
    background: var(--tavla-slider-thumb-color);
    box-shadow: 0px 0.125rem 0.25rem 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.slider {
    width: 100%;
    height: 0.6%;
    -webkit-appearance: none;

    &__labels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        div {
            height: 20px;
            width: 50px;
            color: var(--tavla-label-font-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    &::-webkit-slider-thumb {
        @include reset-thumb();
        -webkit-appearance: none;
        margin-top: -0.6em;
    }

    &::-moz-range-thumb {
        @include reset-thumb();

    }

    &::-ms-thumb {
        @include reset-thumb();
    }

    &::-webkit-slider-runnable-track {
        @include reset-track();
    }

    &::-moz-range-track {
        @include reset-track();

    }

    &::-ms-track {
        @include reset-track();
    }

    &:focus {
        outline: none;

        &::-webkit-slider-runnable-track {
            @include reset-track();
        }
    }
}
