name: ci/frontend

on:
  pull_request:
    branches:
      - main
    paths:
      - "tavla/**"

jobs:
  docker-lint:
    uses: entur/gha-docker/.github/workflows/lint.yml@v1.2.3
    with:
      dockerfile: tavla/Dockerfile
      ignore: DL3018,DL3019

  helm-lint:
    uses: entur/gha-helm/.github/workflows/lint.yml@v1.0.6
    with:
      environment: prd
      chart: tavla/helm/tavla

  code-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT
      - name: setup yarn cache
        id: yarn-cache
        uses: actions/cache@v4
        continue-on-error: false
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - name: install
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        working-directory: tavla
        run: yarn install --frozen-lockfile
      - name: lint and typecheck
        working-directory: tavla
        run: |
          yarn lint
          yarn typecheck
