.Wrapper {
    margin: 5rem 10rem;
}

.LeadParagraph {
    margin-top: 12px;
    margin-bottom: 32px;
    font-size: 1.25rem;
    line-height: 2.25rem;
}

.SitemapHeader {
    margin: 3rem 0;
}

.MapLink {
    margin-left: 0.5rem;
    top: -10px;
}

.SitemapItem {
    list-style-type: none;
    border-left: 2px solid white;
    padding-bottom: 2rem;
    top: -10px;
    position: relative;

    &::before {
        content: '';
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 100%;
        border: 2px solid white;
        background-color: var(--tavla-background-color);
        display: inline-block;
        position: relative;
        right: 5px;
        top: -10px;
    }

    &:last-child {
        padding-bottom: 0;
        border-left: 0;
        padding-left: 2px;
    }
}
