@import '../../../assets/styles/import.scss';
@import '../../../variables.scss';

.label {
    color: var(--tavla-label-font-color);
}

.eds-contrast {
    .feedback {
        color: var(--tavla-font-color);
    }
}

.name-grid {
    padding-bottom: 5rem;

    /* The design system overrides this when using contrast, but we still want it. */
    .eds-form-control-wrapper--disabled {
        background-color: #e9e9e9;
    }

    .eds-form-control {
        color: var(--tavla-input-font-color);
    }

    h3 {
        margin-top: 0;
        line-height: 1;
        margin-bottom: 1.5rem;
    }

    .custom-url {
        padding-top: $space-extra-large;
        padding-bottom: $space-extra-large;

        .input-area {
            display: flex;
            align-items: baseline;
        }

        .prepend {
            position: relative;
            padding-right: $space-extra-small;
            top: 0.2rem;
            color: var(--tavla-font-color);
        }

        .input-field {
            flex: 1;
        }

        .submit-button {
            align-self: flex-start;
            float: right;
            padding-left: $space-small;
        }
    }
}

.name-page {
    &__paragraph {
        color: var(--tavla-font-color);
    }

    .eds-form-control-wrapper {
        border-color: transparent;
        background-color: var(--tavla-input-background-color);

        &:hover {
            background-color: var(--tavla-input-background-color);
            border-color: var(--tavla-input-border-hover-color);
        }

        .eds-input-group__label {
            color: var(--tavla-input-placeholder-color);
        }
    }
}
