@import '../../assets/styles/import.scss';

.race {
    padding: 2rem 4rem;

    &__stop {
        width: 100%;
        margin-bottom: 5rem;
    }

    &__track {
        height: 2rem;
        border-bottom: 4px solid $colors-brand-coral;
        border-right: 4px solid $colors-validation-mint;
        margin: 2rem 0 1rem 0;
        overflow: hidden;
    }

    &__competitor {
        position: absolute;
        transition: 1000ms all;
    }

    &__tick {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: absolute;
    }
}
